{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
 <div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(edit_form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'user.edit'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_widget(edit_form) }}
      </div>
      <div class="box-footer">
      <a href="{{ path('company_index') }}" class="btn btn-primary">{{ 'user.index.back'|trans }}</a>
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'companies.submit'|trans }}</button>
        </div>
      </div>
    {{ form_end(edit_form) }}
    </div>
  </div>
</div>
{% endblock %}
