{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
<h2>{{ 'deleted'|trans({}, 'FOSMessageBundle') }}</h2>
	<div class="row">
        <div class="col-md-3">
			<a href="{{ url('fos_message_thread_new' )}}" class="btn btn-primary btn-block margin-bottom">{{ 'send_new'|trans({}, 'FOSMessageBundle') }}</a>
			<div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'Folders'|trans({}, 'FOSMessageBundle') }}</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ url('fos_message_inbox' )}}"><i class="fa fa-inbox"></i> {{ 'inbox'|trans({}, 'FOSMessageBundle') }}</a></li>
                <li><a href="{{ url('fos_message_sent' )}}"><i class="fa fa-envelope-o"></i> {{ 'sent'|trans({}, 'FOSMessageBundle') }}</a></li>
                <li class="active"><a href="{{ url('fos_message_deleted' )}}"><i class="fa fa-trash-o"></i> {{ 'deleted'|trans({}, 'FOSMessageBundle') }}</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
		</div>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
</div>
{% endblock %}
