{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
<h2>{{ 'send_new'|trans({}, 'FOSMessageBundle') }}</h2>
<div class="row">
    <div class="col-md-3">
		<a href="{{ url('fos_message_inbox' )}}" class="btn btn-primary btn-block margin-bottom">{{ 'back.to.inbox'|trans({}, 'FOSMessageBundle') }}</a>
		<div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'Folders'|trans({}, 'FOSMessageBundle') }}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{{ url('fos_message_inbox' )}}"><i class="fa fa-inbox"></i> {{ 'inbox'|trans({}, 'FOSMessageBundle') }}</a></li>
                <li><a href="{{ url('fos_message_sent' )}}"><i class="fa fa-envelope-o"></i> {{ 'sent'|trans({}, 'FOSMessageBundle') }}</a></li>
                {#<li><a href="{{ url('fos_message_deleted' )}}"><i class="fa fa-trash-o"></i> {{ 'deleted'|trans({}, 'FOSMessageBundle') }}</a></li>#}
              </ul>
            </div>
          </div>
		</div>
		<div class="col-md-9">
			<div class="box box-primary">
			    <form action="{{ url('fos_message_thread_new') }}" method="post" class="form-horizontal">	
				<div class="box-header with-border">
				<h3 class="box-title">
				{% if user is defined %}
				{{ 'Send message to'|trans({}, 'FOSMessageBundle') }}: <b>{{ user.fullname }}</b>
		        {% endif %}
				</h3>
				</div>
				<div class="box-body">
		        {% if user is defined %}
		        {{ form_widget(form.recipient, {'type': 'hidden' }) }}
		        {% endif %}
				{{ form_widget(form) }}
				</div>
				<div class="box-footer">
					<div class="pull-right">
				    	<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> {{ 'submit'|trans({}, 'FOSMessageBundle') }}</button>
				    </div>
			    </div>
			    {{ form_end(form) }}			
			</div>
		</div>
	</div>
</div>
{% endblock %}
