<div class="col-md-9">
      <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body no-padding">
        <div class="box-header with-border">
              <h3 class="box-title">{{ 'messages'|trans({}, 'FOSMessageBundle') }}</h3>
              <!-- /.box-tools -->
            </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
            
              {% if threads %}
              <tr>
              	<th style="min-width: 150px;">{{ 'starter'|trans({}, 'FOSMessageBundle') }}</th>
              	<th style="min-width: 300px;">{{ 'subject'|trans({}, 'FOSMessageBundle') }}</th>
              	<th>{{ 'startdate'|trans({}, 'FOSMessageBundle') }}</th>
              	<th>{{ 'last_message'|trans({}, 'FOSMessageBundle') }}</th>
              </tr>
              {% endif %}
              <tbody>
              {% if threads %}
              {% for thread in threads %}
              <tr>
                <td class="mailbox-name">{{ thread.createdBy }}</td>
                <td class="mailbox-subject" {% if not fos_message_is_read(thread) %}style="font-weight: bold;"{% endif %}><a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">{{ thread.subject }}</a></td>
                <td class="mailbox-date">{{ thread.createdAt|date|localizeddate(gl_date_format, gl_time_format, gl_locale ) }}</td>
                <td class="mailbox-date">{% if thread.lastMessage %}{{ thread.lastMessage.createdAt|date|localizeddate(gl_date_format, gl_time_format, gl_locale ) }}{% else %}{% endif %}</td>
              </tr>
              {% endfor %}
              {% else %}
			    <tr>
			        <td>
			        {{ 'no_thread'|trans({}, 'FOSMessageBundle') }}.
			        </td>
			    </tr>
              {% endif %}
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>