{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}

<h2>{{ thread.subject }}</h2>
<div class="row">
	<div class="col-md-3">
		<a href="{{ url('fos_message_thread_new' )}}" class="btn btn-primary btn-block margin-bottom">{{ 'send_new'|trans({}, 'FOSMessageBundle') }}</a>
		<div class="box box-solid">
	      <div class="box-header with-border">
	      <h3 class="box-title">{{ 'Folders'|trans({}, 'FOSMessageBundle') }}</h3>
	      <div class="box-tools">
	        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	        </button>
	      </div>
	    </div>
	    <div class="box-body no-padding">
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="{{ url('fos_message_inbox' )}}"><i class="fa fa-inbox"></i> {{ 'inbox'|trans({}, 'FOSMessageBundle') }}</a></li>
	        <li><a href="{{ url('fos_message_sent' )}}"><i class="fa fa-envelope-o"></i> {{ 'sent'|trans({}, 'FOSMessageBundle') }}</a></li>
	        {#<li><a href="{{ url('fos_message_deleted' )}}"><i class="fa fa-trash-o"></i> {{ 'deleted'|trans({}, 'FOSMessageBundle') }}</a></li>#}
	      </ul>
	    </div>
	    <!-- /.box-body -->
	  </div>
	  </div>
	<div class="col-md-9">
		{% for message in thread.messages %}
			<div class="box box-primary">
		    	<div class="box-body no-padding">
		    	   <div class="mailbox-read-info">
		    	   <h5>{{ 'from'|trans({}, 'FOSMessageBundle') }} {{ message.sender|e }}
		    	    <span class="mailbox-read-time pull-right"> {{ message.createdAt|date|localizeddate(gl_date_format, gl_time_format, gl_locale ) }}</span>
		    	   </h5> 
		    	   </div>
		    	   <div class="mailbox-read-message">
		    	   {{ message.body }}
		    	   </div>
		    	</div>
		    </div>
		{% endfor %}
		<div class="box box-primary">
			<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
			<div class="box-header"><h3 class="box-title">{{ 'reply'|trans({}, 'FOSMessageBundle')}}</h3></div>
			<div class="box-body">
		    	{{ form_widget(form) }}
		    </div>
		    <div class="box-footer">
		    	<div class="pull-right">
		    	<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> {{ 'submit'|trans({}, 'FOSMessageBundle') }}</button>
			    </div>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
