{% extends 'v2.html.twig' %}
{% block page_content %}
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="error">
            <h1>404 </h1>
            <h2>Podany adres nie istnieje</h2>
            <p class="lead">Przepraszamy, ale szukana strona nie istnieje.</p>
            <a href="{{ path('main') }}" class="btn btn-primary btn-lg">Przejdź do strony głównej</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}