<div class="box box-primary  collapsed-box">
  <div class="box-header">
    <h3 class="box-title">{{  user.fullname }}</h3>
    <div class="box-tools pull-right">
       <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
       </button>
     </div>
  </div>
  <div class="box-body box-profile">
    {% if user.profilePic %}
        <img class="profile-user-img img-responsive img-circle" src="{{ asset(image_profile_pic_path ~ user.profilePic) | imagine_filter('profile_pic') }}" alt="{{ user.fullname }}">
    {% else %}
        <img class="profile-user-img img-responsive img-circle" src="{{ asset(avanzu_admin_context.default_avatar) }}" alt="{{ user.fullname }}">
    {% endif %}
  
    <h3 class="profile-username text-center">{{ user.fullname }}</h3>
    {% if user.personFunction is defined %}
    <p class="text-muted text-center">{{ user.personFunction|e }}</p>
    {% endif %}
    <ul class="list-group list-group-unbordered">
      {% if user.skype %}
      <li class="list-group-item">
        <b>Skype</b> <a href="skype://{{ user.skype }}" class="pull-right">{{ user.skype }}</a>
      </li>
      {% endif %}
      {% if user.telephone %}
      <li class="list-group-item">
        <b>{{ 'Telephone'|trans }}</b> <a class="pull-right">{{ user.telephone }}</a>
      </li>
      {% endif %}
      {% if user.email %}
      <li class="list-group-item">
        <b>Email</b> <a href="mailto://{{ user.email }}" class="pull-right">{{ user.email }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>