<div class="row">
  <div class="col-md-12">
    {% include "@FOSUser/Profile/_profile_box.html.twig" %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  {% if user.about or user.trenerExperience or user.education or user.professionalProfile or user.credentials %}
    <div class="box box-primary collapsed-box">
        <div class="box-header"><h3 class="box-title">{{ 'Information box'|trans }}</h3>
        <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
        </div>
        <div class="box-body">
           <div class="box-group" id="accordion">
            {% if user.about %}
            <div class="panel box box-primary">
              <div class="box-header">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{ 'About'|trans }}</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="box-body">{{ user.about|raw }}</div>
              </div>
            </div>
            {% endif %}
            {% if user.trenerExperience %}
            <div class="panel box box-primary">
              <div class="box-header">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{ 'Trener experience'|trans }}</a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="box-body">{{ user.trenerExperience|e }}</div>
              </div>
            </div>
            {% endif %}
            {% if user.education %}
            <div class="panel box box-primary">
              <div class="box-header">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{{ 'Education'|trans }}</a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="box-body">{{ user.education|raw }}</div>
              </div>
            </div>
            {% endif %}
            {% if user.professionalProfile %}
            <div class="panel box box-primary">
              <div class="box-header">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">{{ 'Professional profile'|trans }}</a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="box-body">{{ user.professionalProfile|raw }}</div>
              </div>
            </div>
            {% endif %}
            {% if user.credentials %}
            <div class="panel box box-primary">
              <div class="box-header">
                <h4 class="box-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">{{ 'Credentials'|trans }}</a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="box-body">{{ user.credentials|raw }}</div>
              </div>
            </div>
            {% endif %}
           </div>
        </div>
    </div>
    {% endif %}

      {% if session.id is defined %}
        <div class="callout callout-info">
        {{ 'calendar.session.warning.new_date'|trans({'startDate': session.startDate|date('Y-m-d H:i:s'), 'endDate': session.endDate|date('Y-m-d H:i:s')})|raw }}
        </div>
      {% endif %}
    <div class="box box-primary">
      <div class="box-body no-padding">
        <div id="calendar"></div>
      </div>
      <div id="calendar-overlay" class="overlay" style="display: none;">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-info fade" id="modal-appoitment-info" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>

{% if eventForm is defined %}
<div class="modal modal-default fade" id="modal-create-appoitment" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(eventForm, { 'action': "/" }) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{ 'Create appointment'|trans }}</h4>
      </div>
      <div class="modal-body">
           <p>{{ 'modal.mentor.choosen_data'|trans }}</p>
		   <p>Start: <span id="session_start_text"></span></p>
		   {% if process is empty %}
           <div id="sessions_rowCounter">
           {{ form_row(eventForm.sessions) }}
           </div>
		   {% if company and company.rules %}
           <p>{{ 'modal.mentor.accept_terms'|trans }}</p>
           <div class="box box-default box-solid collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'Terms and Conditions'|trans }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body"  style="height: 100px; overflow: auto;">
              {{ company.rules|raw }}
            </div>
            {% endif %}
          </div>
            {% else %}
            <div style="display:none;">
            {{ form_row(eventForm.sessions) }}
            </div>
          {% endif %}
        {{ form_widget(eventForm) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{ 'Close'|trans }}</button>
        <button type="submit" class="btn btn-primary pull-right" id="modal-form-submit">{{ 'Submit'|trans }}</button>
      </div>
      {{ form_end(eventForm) }}
    </div>
  </div>
</div>
{% endif %}