<div class="row">
  <div class="col-md-3">
    {% include "@FOSUser/Profile/_profile_box.html.twig" %}
  </div>
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-body no-padding">
        Info base
      </div>
    </div>
  </div>
</div>