<div class="row">
  <div class="col-md-3">
    {% include "@FOSUser/Profile/_profile_box.html.twig" %}
  </div>
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-body no-padding">
         <div class="box-body">
           {% if user.company %}
             
             <div class="row">
               <div class="col-md-3"><b>{{ 'Company name'|trans }}</b></div>
               <div class="col-md-9">{{ user.company.companyName|e }}</div>
             </div>
             
             <div class="row">
               <div class="col-md-3"><b>{{ 'Nip'|trans }}</b></div>
               <div class="col-md-9">{{ user.company.nip|e }}</div>
             </div>
             
             <div class="row">
               <div class="col-md-3"><b>{{ 'Address'|trans }}</b></div>
               <div class="col-md-9">{{ user.company.address|e|nl2br }}</div>
             </div>
             
             <div class="row">
               <div class="col-md-3"><b>{{ 'Correspondence address'|trans }}</b></div>
               <div class="col-md-9">{{ user.company.correspondenceAddress|e|nl2br }}</div>
             </div>
           {% endif %}
         
           <hr>
           <div class="row">
               <div class="col-md-3"><b>{{ 'Mentee limit'|trans }}</b></div>
               <div class="col-md-9">{{ user.menteeLimit|e }}</div>
           </div>
           <div class="row">
               <div class="col-md-3"><b>{{ 'Hours limit'|trans }}</b></div>
               <div class="col-md-9">{{ user.hoursLimit|e }}</div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>