{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {% if path is defined %}
	    {{ form_start(form, { 'action': path(path, {'id': id}), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% else %}
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% endif %}
    <div class="box-header with-border">
      <h3 class="box-title">{{ 'profile.edit'|trans }}</h3>
    </div>
    <div class="box-body">
      {{ form_widget(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'profile.edit.submit'|trans }}</button>
      </div>
    </div>
{{ form_end(form) }}
    </div>
  </div>
</div>