{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
{% if userType == 'user_mentor' or userType == 'Mentor' %}
{% include "@FOSUser/Profile/edit_mentor.html.twig" %}
{% else %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endif %}
{% endblock avanzu_page_content %}

{% block avanzu_javascripts %}
<script src="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
{% endblock %}
{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}

{% block avanzu_javascripts_inline %}
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script>
    $(function(){
      $('.editor').wysihtml5();
    });
</script>
<script>
$('[data-mask]').inputmask();
</script>
{% if userType == 'user_mentor' or userType == 'Mentor' %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            var $wrapper = $('.tab-content');
            $wrapper.on('click', '.js-remove', function(e) {
                e.preventDefault();
                $(this).closest('.js-item')
                    .fadeOut()
                    .remove();
            });
            $wrapper.on('click', '.js-add', function(e) {
                e.preventDefault();
                var wrap = $(this).closest('.js-wrapper');
                var prototype = wrap.data('prototype');
                var index = wrap.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                wrap.data('index', index + 1);
                $(this).parent().before(newForm);
            });
        });
    </script>
    {% endif %}
  {% endblock %}