{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% macro printIndustryRow(industryForm) %}
    <div class="col-xs-12 js-item">
        <a href="#" class="js-remove pull-right">
            <span class="fa fa-close"></span> {{ 'Remove'|trans }}
        </a>
        <hr>
        {{ form_errors(industryForm) }}
        {{ form_row(industryForm) }}
    </div>
{% endmacro %}
{% import _self as formMentorMacros %}

    {% if path is defined %}
	    {{ form_start(form, { 'action': path(path, {'id': id}), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% else %}
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% endif %}
  <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1_base" data-toggle="tab" aria-expanded="true">{{ 'Base'|trans }}</a></li>
              <li class=""><a href="#tab_3_profile" data-toggle="tab" aria-expanded="false">{{ 'Profile'|trans }}</a></li>
              <li class=""><a href="#tab_4_industry" data-toggle="tab" aria-expanded="false">{{ 'Industry'|trans }}</a></li>
              <li class=""><a href="#tab_5_specialization" data-toggle="tab" aria-expanded="false">{{ 'Specializations'|trans }}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1_base">
                {{ form_row(form.email) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.skype) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.profilePic) }}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3_profile">
                {{ form_row(form.trenerExperience) }}
                {{ form_row(form.about) }}
                {{ form_row(form.professionalProfile) }}
                {{ form_row(form.education) }}
                {{ form_row(form.credentials) }}
              </div>
                <div class="tab-pane" id="tab_4_industry">
                  <div class="row js-wrapper" data-prototype="{{ formMentorMacros.printIndustryRow(form.industries.vars.prototype)|e('html_attr') }}" data-index="{{ form.industries|length }}">
                   {% for industriesForm in form.industries %}
                     {{ formMentorMacros.printIndustryRow(industriesForm) }}
                   {% endfor %}
                   <div class="col-xs-12">
                     <button type="button" class="btn btn-default btn-block js-add"><span class="fa fa-plus-circle"></span> {{ 'industry.add'|trans }}</button>
                   </div>
                 </div>
               </div>
                <div class="tab-pane" id="tab_5_specialization">
                  <div class="row js-wrapper" data-prototype="{{ formMentorMacros.printIndustryRow(form.specializations.vars.prototype)|e('html_attr') }}" data-index="{{ form.specializations|length }}">
                   {% for specializationsForm in form.specializations %}
                     {{ formMentorMacros.printIndustryRow(specializationsForm) }}
                   {% endfor %}
                   <div class="col-xs-12">
                     <button type="button" class="btn btn-default btn-block js-add"><span class="fa fa-plus-circle"></span> {{ 'specialization.add'|trans }}</button>
                   </div>
                 </div>
               </div>

              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          
  <div class="pull-right">
    <button class="btn btn-info pull-right" type="submit" >{{ 'profile.edit.submit'|trans }}</button>
  </div>
  </div>
{{ form_widget(form.industries) }}
{{ form_widget(form.specializations) }}
  {{ form_end(form) }}