{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
  {% if user.entityType == 'user_base' %}
   {% include '@FOSUser/Profile/_show.base.html.twig' %}
  {% endif %}

  {% if user.entityType == 'user_mentee' %}
   {% include '@FOSUser/Profile/_show.mentee.html.twig' %}
  {% endif %}
  
  {% if user.entityType == 'user_client' %}
   {% include '@FOSUser/Profile/_show.client.html.twig' %}
  {% endif %}

  {% if user.entityType == 'user_mentor' %}
   {% include '@FOSUser/Profile/_show.mentor.html.twig' %}
  {% endif %}

  {% if user.entityType == 'user_mentee_watcher' %}
   {% include '@FOSUser/Profile/_show.mentee_watcher.html.twig' %}
  {% endif %}
{% endblock %}

{% block avanzu_head %}
  {% if user.entityType == 'user_mentor' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css" media="print">
  {% endif %}
{% endblock %}

{% block avanzu_javascripts %}
  {% if user.entityType == 'user_mentor' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/locale/pl.js"></script>
 {% endif %}
{% endblock %}

{% block avanzu_javascripts_inline %}
  {% if user.entityType == 'user_mentor' %}
	  <script>
	  $(function () {
	
	    /* initialize the external events
	     -----------------------------------------------------------------*/
	    function ini_events(ele) {
	      ele.each(function () {	
	        var eventObject = {
	          title: $.trim($(this).text())
	        };
	        $(this).data('eventObject', eventObject);
	        $(this).draggable({
	          zIndex: 1070,
	          revert: true, 
	          revertDuration: 0
	        });
	
	      });
	    }
	
	    ini_events($('#external-events div.external-event'));
	
	    /* initialize the calendar
	     -----------------------------------------------------------------*/
	    //Date for the calendar events (dummy data)
	    var date = new Date();
	    var d = date.getDate(),
	        m = date.getMonth(),
	        y = date.getFullYear();
	    $('#calendar').fullCalendar({
	      {% if planDate %}
	      defaultDate: '{{ planDate }}',
	      validRange: function(nowDate) {
            return {
              start: nowDate.clone().subtract(1, 'day')
		    };
		  },
		  {% elseif sessionDate %}
		  defaultDate: '{{ sessionDate }}',
	      validRange: function(nowDate) {
            return {
              start: nowDate.clone().subtract(1, 'day')
		    };
		  },
		  {% else %}
		  validRange: function(nowDate) {
            return {
              start: nowDate.clone().subtract(1, 'months')
		    };
		  },
	      {% endif %}
	      defaultView: 'agendaWeek',
	      eventSources: [
            {
              url: '{{ path('event_get_all') }}',
              data: {
                mentorId: {{ user.id }}
              }
            }
	      ],
	      loading: function (bool) {
	        $('#calendar').fullCalendar('removeEvents');
		    $('#calendar-overlay').show();
          },
          eventAfterAllRender: function (view) {
			  $.ajax({
				  method: "POST",
				  url: "{{ path("user_get_business") }}/{{ user.id }}",
				  data: {
					startDate: view.start.format(),
					endDate: view.end.format()
				  }
			  })
			  .success(function(data){
			      $('#calendar').fullCalendar('option', {
					  businessHours: JSON.parse(data)
				  });
			      $('#calendar-overlay').hide();
			  });
          },
	      slotDuration: '00:15:00',
	      nowIndicator: true,
	      minTime: '08:00:00',
	      maxTime: '23:00:00',
	      defaultTimedEventDuration: '01:30:00',
	      eventOverlap: false,
	      businessHours: {% if businessHours is defined %}{{ businessHours|raw }}{% else %} {}{% endif %},
	      editable: true,
	      droppable: true,
	      eventDurationEditable: true,
	      allDaySlot: false,
	      weekends: false,
	      slotLabelFormat: 'H:mm',
	      selectConstraint: "businessHours",
	      eventConstraint: "businessHours",
	      selectOverlap: false,
	      header: {
	        left: 'prev,next today',
	        center: 'title',
	        right: 'month,agendaWeek,agendaDay'
	      },
	      eventRender: function( event, element, view ) {
 			  var title = element.find( '.fc-title' );
			  title.html( title.text() );
		  },
		  eventDrop: function (event, delta, revertFunc) {
		    changeEventDate(event, revertFunc);
		  },
		  eventResize: function (event, delta, revertFunc) {
		    changeEventDate(event, revertFunc);
		  },
	      dayClick: function (date, jsEvent, view) {
			  {% if session.id is defined %}
			    if (date < new Date()) {
				  return;
     			}
			    if (-1 < $.inArray('fc-nonbusiness', jsEvent.target.classList)) {
				   showMsgModal('modal-info', "{{ 'modal.mentor.title.info'|trans }}", "{{ 'modal.mentor.colide_buisness_hours'|trans }}");
				   return;
				}
			    var calendar = $('#calendar').fullCalendar('getCalendar');
			    var m = calendar.moment(date);
			    var endDate = m.add(1.5, 'hour');
			    var bh = $('#calendar').fullCalendar('option', 'businessHours');
				var currentDay = m.day();
				var bhLenght = bh.length;
				var z = 0;
					for (i = 0; i < bhLenght; i++) {
						if ($.inArray(currentDay, bh[i]['dow']) > -1) {
							var curHour = endDate.hour() + ':'+ endDate.minutes();
							if (curHour > bh[i]['end']) {
								z++;
							} else {
								z--;
							}
						}
					}
			    if (z > 0) {
				  return;
				}
			    if (!IsDateHasEvent(date, endDate)) {
                    var event = {'id': {{ session.id }}, 'start': date, 'end': endDate}
                    changeEventDate(event, function () {});
					window.location.replace("{{ path("process_show", {'id': session.process.id}) }}");
                }
			  {% elseif userIsMentee is defined and userIsMentee %}
		        if (date < new Date()) {
		           return;
		        }
		        if (-1 < $.inArray('fc-nonbusiness', jsEvent.target.classList)) {
		          showMsgModal('modal-info', "{{ 'modal.mentor.title.info'|trans }}", "{{ 'modal.mentor.colide_buisness_hours'|trans }}");
		          return; 
		        }
		        var calendar = $('#calendar').fullCalendar('getCalendar');
		        var m = calendar.moment(date);
		        var endDate = m.add(1.5, 'hour');
		        var bh = $('#calendar').fullCalendar('option', 'businessHours');
	            var currentDay = m.day();
	            var bhLenght = bh.length;
	            var z = 0;
	            for (i = 0; i < bhLenght; i++) {
	                if ($.inArray(currentDay, bh[i]['dow']) > -1) {
	                    var curHour = endDate.hour() + ':'+ endDate.minutes();
	                    if (curHour > bh[i]['end']) {
	            		    z++;
	            		} else {
	            			z--;
	            		}
	            	}
	            }
	            if (z > 0) {
	            	return;
	            }
		        if (!IsDateHasEvent(date, endDate)) {
					$.ajax({
					  method: "POST",
					  url: "{{ path("event_check_process") }}/" + {{ app.user.id }} + "," + {{ user.id }},
					  data: {}
					})
					.success(function(data) {
						if (data.status == 'true') {
							$('#sessions_rowCounter').hide();
						} else {
							$('#sessions_rowCounter').show();
						}
					})
					.always(function (data) {
					    $('#modal-create-appoitment').modal('show');
					    $('#session_start_text').html(date.format('YYYY-MM-DD HH:mm:ss'));
					    $('#mb_mentorprocess_startDate').val(date.format('YYYY-MM-DD HH:mm:ss'));
					    $('#mb_mentorprocess_endDate').val(endDate.format('YYYY-MM-DD HH:mm:ss'));
					    $('#mb_mentorprocess_idMentor').val({{ user.id }});
				 });
		        } else {
		          $('#calendar').fullCalendar('unselect');
		          showMsgModal('modal-danger', "{{ 'modal.mentor.title.problem'|trans }}", "{{ 'modal.mentor.date_colides'|trans }}");
		        }
	        {% endif %}
	      }
	    });
	  });
	  function changeEventDate(event, revertFunc) {
	    if (!confirm("{{ 'calendar.change.time_confirm'|trans }}")) {
          revertFunc();
          return;
        }
	    $.ajax({
	      method: "POST",
	      url: "{{ path("event_change_date") }}/" + event.id,
	      data: {
	        startDate: event.start.format(),
	        endDate: event.end.format()
	      }
		 })
		 .fail(function(data) {
             revertFunc();
		 })
		 .success(function (data) {
	         showMsgModal('modal-success', "{{ 'modal.mentor.title.success'|trans }}", data.msg);
	        $('#calendar').fullCalendar('refetchEvents');
		 });
	  }
	  function showMsgModal(cssClass, headerText, bodyText) {
	    var msgModal = $('#modal-appoitment-info');
	    msgModal.removeClass('modal-info modal-danger modal-success').addClass(cssClass);
	    msgModal.find('h4.modal-title').html(headerText);
	    msgModal.find('div.modal-body').html(bodyText);
	    msgModal.modal('show');
	  }
	  
	  function IsDateHasEvent(date, dateEnd) {
	    var allEvents = [];
	    // add your calendar events into the array. 
	    allEvents = $('#calendar').fullCalendar('clientEvents');
	    var event = $.grep(allEvents, function (v) {
	        return +v.start === +date;
	    });
	    var eventEnd = $.grep(allEvents, function(v) {
	    	return ((+v.end >= +dateEnd) && (+dateEnd >= +v.start)) || ((+v.end >= +date) && (+date >= +v.start));
	    });
	    return event.length > 0 || eventEnd.length > 0;
	  }
	  
	  $( "#modal-form" ).submit(function( event ) {
	      var submitButton = $('#modal-form-submit');
	      if (submitButton.hasClass('disabled')) {
	         return false;
	      }
	      var modalCreateAppointment = $('#modal-create-appoitment');
	      
	      submitButton.addClass('disabled');
		  event.preventDefault();
		  $.ajax({
		    method: "POST",
		    url: "{{ path("event_create_appointment") }}/{% if session.id is defined %}{{ session.id }}{% endif %}",
		    data: $(this).serialize()
		  })
		  .done(function( data ) {
   	         submitButton.removeClass('disabled');
		     modalCreateAppointment.modal('hide');
		  })
		  .fail(function(data) {
   	         submitButton.removeClass('disabled');
		     modalCreateAppointment.modal('hide');
		     showMsgModal('modal-danger', "{{ 'modal.mentor.title.problem'|trans }}", data.responseJSON.msg);
		  })
		  .success(function (data) {
		  	 eventData = {
	             title: data.user,
	             start: data.startDate.date,
	             end: data.endDate.date,
	             stick : true,
	             allDay: false,
	             constraint: 'businessHours',
	             backgroundColor: '#92E88E',
	             overlap: false,
	         };	
	         showMsgModal('modal-success', "{{ 'modal.mentor.title.success'|trans }}", data.msg);
	         $('#calendar').fullCalendar('renderEvent', eventData, true);
		  
		  });
	  });
	</script>
  {% endif %} 
{% endblock %}