{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'mentor.manage.industry'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
		        <thead>
		            <tr>
		                <th>
		                  {{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}
                          {% if pagination.isSorted('e.id') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
		                </th>
		                <th>
		                  {{ knp_pagination_sortable(pagination, 'industry.name'|trans, 'e.name') }}
                          {% if pagination.isSorted('e.name') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
		                </th>
		                <th>{{ 'Actions'|trans }}</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for industry in pagination %}
		            <tr>
		                <td><a href="{{ path('industry_show', { 'id': industry.id }) }}">{{ industry.id }}</a></td>
		                <td>{{ industry.name }}</td>
		                <td>
		                  	<div class="btn-group">
		                  	<a href="{{ path('industry_show', { 'id': industry.id }) }}" class="btn btn-default" title="{{ 'list.profile.show'|trans }}"><i class="fa fa-eye"></i></a>
			                <a href="{{ path('industry_edit', { 'id': industry.id }) }}" class="btn btn-default" title="{{ 'list.profile.edit'|trans }}"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
		            </tr>
		        {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}