{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'mentor.manage.mentee'|trans }}</h3>
              
              {#<div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
              #}
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  
                  <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}
                  {% if pagination.isSorted('id') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
                  </th>
                  <th>{{ knp_pagination_sortable(pagination, 'username'|trans, 'fullname') }}
                  {% if pagination.isSorted('fullname') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'E-mail', 'email') }}
                  {% if pagination.isSorted('email') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Skype', 'skype') }}
                  {% if pagination.isSorted('skype') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Telephone'|trans, 'telephone') }}
                  {% if pagination.isSorted('telephone') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Status', 'enabled') }}
                  {% if pagination.isSorted('enabled') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th style="width: 180px">{{ 'Actions'|trans }}</th>
                </tr>
               {% for user in pagination %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.fullName|e }}</td>
                  <td>{{ user.email|e }}</td>
                  <td>{% if user.skype %}<a href="skype:{{ user.skype|e }}"><i class="fa fa-skype"></i> {{ user.skype|e }}</a>{% endif %}</td>
                  <td>{% if user.telephone %}<i class="fa fa-phone"></i> {{ user.telephone|e }}{% endif %}</td>
                  <td>{% if user.enabled %}
                     <span class="label label-success">{{ 'Active'|trans }}</span>
                  {% else %}
                     <span class="label label-danger">{{ 'Inactive'|trans }}</span>
                  {%endif%}
                  </td>
                  <td>
                  <div class="btn-group">
                  	<a href="{{ path('user_profile_view', {'id': user.id }) }}" class="btn btn-default" title="{{ 'list.profile.show'|trans }}"><i class="fa fa-eye"></i></a>
	                <a href="{{ path('fos_message_user_new', {'id': user.id }) }}" class="btn btn-default" title="{{ 'list.msg.write'|trans }}"><i class="fa fa-envelope"></i></a>
	                </div>
                  </td>
                </tr>
                {% endfor %} 
              </tbody></table>
            </div>
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}
