{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form with [_self, 'bootstrap_3_horizontal_layout.html.twig'] %}

{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info  collapsed-box">
    <form method="get" action="." class="form-horizontal">
    <div class="box-header with-border">
      <i class="fa fa-search"></i> <h3 class="box-title">{{ 'form.filter.title'|trans }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="box-body">
    {{ form_row(form.email) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {% for subform in form.company %}
      {{ form_widget(subform) }}
    {% endfor %}
    {{ form_rest(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'search.mentor.submit'|trans }}</button>
      </div>
    </div>
    </form>
    </div>
  </div>
</div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'mentor.manage.clients'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>{{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}
                  {% if pagination.isSorted('id') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
                  </th>
                  <th>{{ knp_pagination_sortable(pagination, 'username'|trans, 'e.surname') }}
                  {% if pagination.isSorted('e.surname') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'E-mail', 'e.email') }}
                  {% if pagination.isSorted('e.email') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ 'companies.name'|trans }}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Skype', 'e.skype') }}
                  {% if pagination.isSorted('e.skype') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Telephone'|trans, 'e.telephone') }}
                  {% if pagination.isSorted('e.telephone') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Status', 'e.enabled') }}
                  {% if pagination.isSorted('e.enabled') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ 'Mentee Limit'|trans }}</th>
                  <th>{{ 'Hours Limit'|trans }}</th>
                  <th style="width: 180px">{{ 'Actions'|trans }}</th>
                </tr>
               {% for user in pagination %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.fullName|e }}</td>
                  <td>{{ user.email|e }}</td>
                  <td>{{ user.companyName }}</td>
                  <td>{% if user.skype %}<a href="skype:{{ user.skype|e }}"><i class="fa fa-skype"></i> {{ user.skype|e }}</a>{% endif %}</td>
                  <td>{% if user.telephone %}<i class="fa fa-phone"></i> {{ user.telephone|e }}{% endif %}</td>
                  <td>{% if user.enabled %}
                     <span class="label label-success">{{ 'Active'|trans }}</span>
                  {% else %}
                     <span class="label label-danger">{{ 'Inactive'|trans }}</span>
                  {%endif%}
                  </td>
                  <td>{{ user.menteeLimit }}</td>
                  <td>{{ user.hoursLimit }}</td>
                  <td>
                  <div class="btn-group">
                  	<a href="{{ path('user_profile_view', {'id': user.id }) }}" class="btn btn-default" title="{{ 'list.profile.show'|trans }}"><i class="fa fa-eye"></i></a>
	                <a href="{{ path('user_client_edit', {'id': user.id }) }}" class="btn btn-default" title="{{ 'list.profile.edit'|trans }}"><i class="fa fa-edit"></i></a>
	                <a href="{{ path('fos_message_user_new', {'id': user.id }) }}" class="btn btn-default" title="{{ 'list.msg.write'|trans }}"><i class="fa fa-envelope"></i></a>
	                {% if user.enabled %}
	                <a href="{{ path('change_status', {'id': user.id }) }}" class="btn btn-danger" title="{{ 'list.status.change.disable'|trans }}"><i class="fa fa-ban"></i></a>
	                {% else %}
	                <a href="{{ path('change_status', {'id': user.id }) }}" class="btn btn-success" title="{{ 'list.status.change.activate'|trans }}"><i class="fa fa-check"></i></a>
	                {% endif %}
	                </div>
                  </td>
                </tr>
                {% endfor %} 
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}
