<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}">
<head>
    <title>
        {% block avanzu_document_title %}
                {% block avanzu_page_title %}MentorMe!{% endblock %}{% endblock %}
    </title>
    {% include('AvanzuAdminThemeBundle:Partials:_head.html.twig') %}
    {% block avanzu_head %}{% endblock %}
</head>
    <body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            
        </section>

        <!-- Main content -->
        <section class="content">
            
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </section>
        <!-- /.content -->
    </div>
{% include 'AvanzuAdminThemeBundle:Partials:_scripts.html.twig' %}
{% block avanzu_javascripts %}{% endblock %}
{% block avanzu_javascripts_inline %}{% endblock %}

</body>
</html>
