<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}">
<head>
    <title>
        {% block avanzu_document_title %}
          {% block avanzu_page_title %}MentorMe!{% endblock %}
        {% endblock %}
    </title>
    {% include('AvanzuAdminThemeBundle:Partials:_head.html.twig') %}
    {% block avanzu_head %}{% endblock %}
</head>
    <body>
    <div class="content-wrapper">
        <section class="content">
            {% block avanzu_page_content %}
            {% endblock %}
        </section>
    </div>
</body>
</html>