<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}">
<head>
</head>
    <body>
    <div class="content-wrapper">
    {% block body_html %}{% endblock %}
    </div>
</body>
</html>