<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MentorMe!</title>
    <meta name="description" content="MentorMe is a site to setup meetings with Coaches!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="{{ asset('theme/lzt/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('theme/lzt/css/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('theme/lzt/css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('theme/lzt/css/styles.css') }}" />
      <link rel="stylesheet" href="{{ asset('theme/lzt/css/override.css') }}" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> MentorMe!</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="{{ path('main') }}#opis">Opis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('main') }}#jak-to-dziala">Jak to działa?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('main') }}#kontakt">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('profile') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block page_content %}
    
    {% endblock %}
    <footer id="footer">
        <div class="container-fluid">
            <span class="pull-right text-muted small">
                <a href="{{ path('main_terms') }}">Regulamin</a> |
                <a href="{{ path('main_privacy') }}">Polityka prywatności</a> |
                <a href="http://www.bootstrapzero.com">Landing Zero by BootstrapZero</a> ©2018 MentorMe!</span>
        </div>
    </footer>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
        		<img src="" id="galleryImage" class="img-responsive" />
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script src="{{ asset('theme/lzt/js/jquery.min.js') }}"></script>
    <script src="{{ asset('theme/lzt/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('theme/lzt/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('theme/lzt/js/wow.js') }}"></script>
    <script src="{{ asset('theme/lzt/js/scripts.js') }}"></script>
  </body>
</html>