<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>MentorMe: Experience Hub</title>
    <!-- Bootstrap -->
    <link href="{{ asset('theme/cleaning/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Style CSS -->
    <link href="{{ asset('theme/cleaning/css/style.css') }}" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="{{ asset('theme/cleaning/css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/cleaning/css/owl.theme.default.css') }}" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/cleaning/css/fontello.css') }}">
    <link href="{{ asset('theme/cleaning/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('theme/custom.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("favicon/apple-icon-57x57.png") }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("favicon/apple-icon-60x60.png") }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("favicon/apple-icon-72x72.png") }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("favicon/apple-icon-76x76.png") }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("favicon/apple-icon-114x114.png") }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("favicon/apple-icon-120x120.png") }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("favicon/apple-icon-144x144.png") }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("favicon/apple-icon-152x152.png") }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("favicon/apple-icon-180x180.png") }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("favicon/android-icon-192x192.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("favicon/favicon-96x96.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon/favicon-16x16.png") }}">
        <link rel="manifest" href="{{ asset("favicon/manifest.json") }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset("favicon/ms-icon-144x144.png") }}">
        <meta name="theme-color" content="#ffffff">
</head>

<body>
{% include 'v2/cookie_notification.html.twig' %}
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="call-info">
                        <p class="call-text">
                            <i class="fa fa-envelope-open-o"></i>
                            <strong>
                                <a href="{{ path('main_contact') }}">contact@mentorme.com.pl</a>
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="call-info">
                        <p class="call-text"><i class="fa fa-sign-in"></i><strong>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="{{ path('dashboard') }}">{{ app.user.username }}</a> |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                            </strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                    <div class="logo"><a href="{{ path('main') }}"><img src="{{ asset('img/logo-podstawowe.png') }}" alt="MentorMe!" style="height: 70px; width: 200px;"></a></div>
                </div>
                <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li><a href="{{ path('main') }}" title="Home">Home</a></li>
                                <li><a href="{{ path('main') }}#opis-aplikacji" title="O aplikacji">O aplikacji</a> </li>
                                <li><a href="{{ path('main') }}#jak-to-dziala" title="Jak to działa?">Jak to działa?</a></li>
                                <li><a href="{{ path('main_contact') }}" title="Kontakt">Kontakt</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-section close -->
    {% block page_content %}

    {% endblock %}
    <!-- news-close -->
     <!-- footer start -->
    <div class="footer" id="kontakt">
        <div class="container">
            <div class="row">
                <!-- footer-contactinfo-start -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Mentor<sup>Me</sup></h3>
                        <p></p>
                        <div class="">
                            <ul>
                                <li>
                                    <a href="{{ path('main_contact') }}"><div class=""><i class="fa fa-envelope-open"></i></div><div class="footer-address">contact@mentorme.com.pl</div></a>
                                </li>
                                <li>
                                    <div class=""><i class="fa fa-phone"></i></div><div class="footer-address">+48 882 000 777</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer-contactinfo-close -->
                <!-- footer-useful links-start -->
                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Szybkie linki</h3>
                        <ul>
                            <li><a href="{{ path('main_privacy') }}">Polityka prywatności</a></li>
                            <li><a href="{{ path('main_terms') }}">Regulamin</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-useful links-close -->
                <!-- footer-about-start -->
                <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 ">
                </div>
            </div>
        </div>
    </div>
    <!-- tiny-footer-start -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Mentor<sup>Me</sup>. All right reserved</div>
            </div>
            <!-- tiny-footer-start -->
        </div>
    </div>
    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('theme/cleaning/js/jquery.min.js') }}" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('theme/cleaning/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('theme/cleaning/js/navigation.js') }}" type="text/javascript"></script>
    <script src="{{ asset('theme/cleaning/js/menumaker.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('theme/cleaning/js/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/cleaning/js/sticky-header.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/cleaning/js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/cleaning/js/slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('theme/cleaning/js/testimonial-slider.js') }}"></script>
</body>

</html>