{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
 <div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'session.form_accept.title'|trans }}</h3>
      </div>
      <div class="box-body">
	        <b>{{ 'session.form_accept.session_info'|trans }}: </b><br>
	        <b>{{ 'Mentee'|trans }}:</b> {{ session.process.mentee.fullName }}<br>
	        <b>{{ 'Start Date'|trans }}:</b> {{ session.startDate|date('Y-m-d H:i:s') }}<br>
	        <b>{{ 'End Date'|trans }}:</b> {{ session.endDate|date('Y-m-d H:i:s') }}<br>
	        
	        {% if session.process.mentee.company.rules %}
           <p>{{ 'modal.mentor.accept_terms'|trans }}</p>
           <div class="box box-default box-solid collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'Terms and Conditions'|trans }}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body"  style="height: 200px; overflow: auto;">
              {{ session.process.mentee.company.rules|raw }}
            </div>
            </div>
            {% endif %}
        {{ form_widget(form) }}
        <ul>
          <li>{{ 'session.form_accept.text.accept'|trans }}</li>
          <li>{{ 'session.form_accept.text.reject'|trans }}</li>
        </ul>
      </div>
      <div class="box-footer">
        <div class="pull-right">
	      <a href="{{ path('process_show', {'id': session.process.id })}}" class="btn btn-primary">{{ 'process.link'|trans }}</a>        
          <button class="btn btn-danger session-reject" type="submit"  name="ses_accept[action]" value="reject">{{ 'session.form_accept.reject'|trans }}</button>
          <button class="btn btn-success session-accept" type="submit" name="ses_accept[action]" value="accept">{{ 'session.form_accept.accept'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts_inline %}
<script>
$(function(){
  
});
</script>
{% endblock %}