{% block subject %}
{%- autoescape false -%}
{{ 'email.session.accept.subject'|trans({'%mentee%': mentee.fullName}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'email.session.accept.message'|trans({
	'%username%': user.fullName,
	'%acceptUrl%': acceptUrl,
	'%processUrl%': processUrl,
	'%mentee%': mentee.fullname,
	'%sessionStart%': session.startDate|date("Y-m-d H:i:s"),
	'%sessionEnd%': session.endDate|date("Y-m-d H:i:s")
}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
