{% block subject %}
{%- autoescape false -%}
{{ 'email.session.rejected.subject'|trans() }}
{%- endautoescape -%}
{% endblock %}

{% block body_html %}
{% autoescape false %}
{{ 'email.session.rejected.message'|trans({
	'%mentorname%': mentor.fullname,
    '%reason%': reason,
	'%processUrl%': processUrl,
	'%mentee%': mentee.fullname,
	'%sessionStart%': session.startDate|date("Y-m-d H:i:s"),
	'%sessionEnd%': session.endDate|date("Y-m-d H:i:s")
}) }}
{% endautoescape %}
{% endblock %}