{% extends 'blank.html.twig' %}
{% block avanzu_page_content %}
<style>
 .harmonogram {
   border-collapse: collapse;
 }
 .harmonogram,
 .harmonogram > th,
 .harmonogram > td {
   padding: 3px 5px;
   border: 1px solid black;
 }
</style>

{% if filters is not empty %}
<div>
    Podsumowanie sesji za okres:
    {% if filters.startDate is not empty %} od {{ filters.startDate }}{% endif %}
    {% if filters.endDate is not empty %} do {{ filters.endDate }}{% endif %}<br><br>
</div>
{% endif %}
<table class="table table-hover harmonogram">
    <tbody>
          <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Company'|trans, 'e.company_name') }}</th>
            <th>{{ 'Mentee'|trans }}</th>
            <th>{{ 'Mentor'|trans }}</th>
            <th>{{ 'Sessions planned'|trans }}</th>
            <th>{{ 'Sessions realized'|trans }}</th>
            <th>{{ 'list.sessions.confirmed_both'|trans }}</th>
            <th>{{ 'list.sessions.confirmed_by_mentee'|trans }}</th>
            <th>{{ 'list.sessions.confirmed_by_mentor'|trans }}</th>
        </tr>
       {% set sessionsTotal = 0 %}
       {% set sessionsRealizedTotal = 0 %}
       {% set sessionsConfirmedBoth = 0 %}
       {% set sessionsConfirmedMentee = 0 %}
       {% set sessionsConfirmedMentor = 0 %}
      {% for p in pagination %}
          {% set sessionsTotal = sessionsTotal + p.session_planned %}
          {% set sessionsRealizedTotal = sessionsRealizedTotal + p.session_realized %}
          {% set sessionsConfirmedBoth = sessionsConfirmedBoth + p.session_confirmed_both %}
          {% set sessionsConfirmedMentee = sessionsConfirmedMentee + p.sessions_confirmed_mentee %}
          {% set sessionsConfirmedMentor = sessionsConfirmedMentor + p.sessions_confirmed_mentor %}
        <tr>
          <td>{{ p.companyName }}</td>
          <td>{{ p.mt_name }} {{ p.mt_surname }}</td>
          <td>{{ p.mr_name }} {{ p.mr_surname }}</td>
            <td>{{ p.session_planned }}</td>
            <td>{{ p.session_realized }}</td>
            <td>{{ p.session_confirmed_both }}</td>
            <td>{{ p.sessions_confirmed_mentee }}</td>
            <td>{{ p.sessions_confirmed_mentor }}</td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
        <th colspan="3" style="text-align: right;">{{ 'table.rows.total'|trans }}:</th>
        <th>{{ sessionsTotal }}</th>
        <th>{{ sessionsRealizedTotal }}</th>
        <th>{{ sessionsConfirmedBoth }}</th>
        <th>{{ sessionsConfirmedMentee }}</th>
        <th>{{ sessionsConfirmedMentor }}</th>
        <td></td>
        </tr>
        </tfoot>
      </tbody></table>
{% endblock %}