{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form with ['MentorBundle:forms:form_layouts.html.twig', 'bootstrap_3_horizontal_layout.html.twig'] %}

{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info  collapsed-box">
    <form method="get" action="." class="form-horizontal">
    <div class="box-header with-border">
      <i class="fa fa-search"></i> <h3 class="box-title">{{ 'form.filter.title'|trans }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="box-body">
    {% if form.company is defined %}
    {% for subform in form.company %}
      {{ form_widget(subform) }}
    {% endfor %}
    {% endif %}
    {% if form.mentee is defined %}
      {% for subform in form.mentee %}
        {{ form_widget(subform) }}
      {% endfor %}
    {% endif %}
    {% if form.mentor is defined %}
    {% for subform in form.mentor %}
      {{ form_widget(subform) }}
    {% endfor %}
    {% endif %}
    {{ form_rest(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'search.mentor.submit'|trans }}</button>
      </div>
    </div>
</form>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ 'list.sessions.summary'|trans }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Company'|trans, 'e.company_name') }}</th>
                <th>{{ 'Mentee'|trans }}</th>
                <th>{{ 'Mentor'|trans }}</th>
                <th>{{ 'Sessions planned'|trans }}</th>
                <th>{{ 'Sessions realized'|trans }}</th>
                <th>{{ 'list.sessions.confirmed_both'|trans }}</th>
                <th>{{ 'list.sessions.confirmed_by_mentee'|trans }}</th>
                <th>{{ 'list.sessions.confirmed_by_mentor'|trans }}</th>
            </tr>
           {% set sessionsTotal = 0 %}
           {% set sessionsRealizedTotal = 0 %}
           {% set sessionsConfirmedBoth = 0 %}
           {% set sessionsConfirmedMentee = 0 %}
           {% set sessionsConfirmedMentor = 0 %}
          {% for p in pagination %}
              {% set sessionsTotal = sessionsTotal + p.session_planned %}
              {% set sessionsRealizedTotal = sessionsRealizedTotal + p.session_realized %}
              {% set sessionsConfirmedBoth = sessionsConfirmedBoth + p.session_confirmed_both %}
              {% set sessionsConfirmedMentee = sessionsConfirmedMentee + p.sessions_confirmed_mentee %}
              {% set sessionsConfirmedMentor = sessionsConfirmedMentor + p.sessions_confirmed_mentor %}
            <tr>
              <td>{{ p.companyName }}</td>
              <td>{{ p.mt_name }} {{ p.mt_surname }}</td>
              <td>{{ p.mr_name }} {{ p.mr_surname }}</td>
                <td>{{ p.session_planned }}</td>
                <td>{{ p.session_realized }}</td>
                <td>{{ p.session_confirmed_both }}</td>
                <td>{{ p.sessions_confirmed_mentee }}</td>
                <td>{{ p.sessions_confirmed_mentor }}</td>
            </tr>
            {% endfor %}
            <tfoot>
            <tr>
            <th colspan="3" style="text-align: right;">{{ 'table.rows.total'|trans }}:</th>
            <th>{{ sessionsTotal }}</th>
            <th>{{ sessionsRealizedTotal }}</th>
            <th>{{ sessionsConfirmedBoth }}</th>
            <th>{{ sessionsConfirmedMentee }}</th>
            <th>{{ sessionsConfirmedMentor }}</th>
            <td></td>
            </tr>
            </tfoot>
          </tbody></table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            {{ knp_pagination_render(pagination) }}
            <a class="btn btn-info pull-right btn-sm" href="{{ path('sessions_pdf_raport') }}{% if printQueryString %}?{{ printQueryString }}{% endif %}">{{ 'list.process.pdf'|trans }}</a>
          </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
{% endblock %}

{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/datepicker/datepicker3.css') }}">
{% endblock %}

{% block avanzu_javascripts_inline%}
<script src="{{ asset('theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script>
$.fn.datepicker.dates['pl'] = {
    days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
    daysShort: ["Nie", "Pn", "Wt", "Śr", "Czw", "Pt", "So", "Nie"],
    daysMin: ["N", "Pn", "Wt", "Śr", "Cz", "Pt", "So", "N"],
    months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
    monthsShort: ["Sty", "Lu", "Mar", "Kw", "Maj", "Cze", "Lip", "Sie", "Wrz", "Pa", "Lis", "Gru"],
    today: "Dzisiaj",
    clear: "Wyczyść",
    weekStart: 1
};
$(".js-datepicker").datepicker({
    format: 'yyyy-mm-dd',
    todayBtn: true,
    todayHighlight: true,
    clearBtn: true,
    language: 'pl'
});
</script>
{% endblock %}