#navigation>ul>li:hover>a {
    color: #fff;
    background-color: #0083C7;
    border-radius: 5px;
}

.bg-default,
.btn-primary {
    background-color: #0083C7;
}

.img-works {
    width: 150px;
    height: 150px;
}
.price-block {
    padding-right: 10px;
}

.price-content h4 {
    margin-right: 150px;
    margin-top: 150px;
}
.price-first h4 {
    margin-top: 0;
}
dt {
    float: left;
    width: 15%;
    text-align: left;
    padding: .25em;
    clear: left;
}
dd {
    float: left;
    width: 85%;
    padding: .25em 0;
}
dl:after {content:"";display:table;clear:both;}
