{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block avanzu_page_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock avanzu_page_content %}
