{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block avanzu_login_box %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('avanzu_admin_home'|route_alias) }}">{% block avanzu_logo_login %}Mentor<b>Me</b>!{% endblock %}</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block avanzu_login_box_msg %}
                <p class="login-box-msg">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                <a class="btn btn-default btn-block btn-flat btn-primary" href="{{ path('fos_user_security_login') }}">{{ 'security.login.submit'|trans }}</a>
            {% endblock %}
        </div><!-- /.login-box-body -->
    </div>
    
    
{% endblock %}
