{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock avanzu_page_content %}
