{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block avanzu_page_content %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      {{ form_start(form, {'method': 'post', 'action': path('register_mentee_watcher'), 'attr': {'class': 'fos_user_registration_register'}}) }}
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'registration.mentee_watcher'|trans }}</h3>
      </div>
      <div class="box-body">
      {{ form_widget(form) }}
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'registration.submit'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts_inline %}
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('theme/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script>
$('[data-mask]').inputmask();
</script>
{% endblock %}