{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
 <div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'process.close_form.title'|trans }}</h3>
      </div>
      <div class="box-body">
	        <b>{{ 'process.close_form.process_info'|trans }}: </b><br><br>
	        <b>{{ 'Mentee'|trans }}:</b> {{ process.mentee.fullName }}<br>
	        <b>{{ 'Start Date'|trans }}:</b> {{ process.startDate|date('Y-m-d H:i:s') }}<br>
	        <b>{{ 'End Date'|trans }}:</b> {{ process.endDate|date('Y-m-d H:i:s') }}<br><br>
        {{ form_widget(form) }}
      </div>
      <div class="box-footer">
        <div class="pull-right">
	      <a href="{{ path('process_show', {'id': process.id })}}" class="btn btn-primary">{{ 'process.link'|trans }}</a>
          <button class="btn btn-danger process-reject" type="submit">{{ 'process.close_form.close'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts_inline %}
<script>
$(function(){
});
</script>
{% endblock %}