{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-slider/slider.css') }}">
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}


{% block avanzu_page_content %}
 <div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(edit_form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'raport.process.summary.edit'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_widget(edit_form) }}
      </div>
      <div class="box-footer">
      <a href="{{ path('process_show', {'id': summary.process.id}) }}" class="btn btn-primary">{{ 'process.card.back'|trans }}</a>
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'companies.submit'|trans }}</button>
        </div>
      </div>
    {{ form_end(edit_form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts %}
<script src="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
{% endblock %}
{% block avanzu_javascripts_inline%}
<script src="{{ asset('theme/plugins/bootstrap-slider/bootstrap-slider.js') }}"></script>

<script>
$(function(){
    $('.slider').slider({});
    $('.editor').wysihtml5();
});
</script>
{% endblock %}