{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
    <div class="row">
      <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'goal_card.title'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <b>{{ 'mentor.client'|trans }}/{{ 'Company'|trans }}:</b> {{ client.fullname }} / {{ company.companyname }}<br>
                  <b>{{ 'Mentee'|trans }}:</b> {{ mentee.fullname }}<br>
                  {% if menteeWatcher %}<b>{{ 'goal_card.direct_superior'|trans }}:</b> {{ menteeWatcher.fullname }}<br>{% endif %}
                  <b>{{ 'raport.period'|trans }}:</b> {{ process.startDate|date('Y-m-d') }} - {{ process.endDate|date('Y-m-d') }}
                </div>
                <div class="col-md-6">
                  <b>{{ 'raport.dateStart'|trans }}:</b> {{ process.startDate|date('Y-m-d') }}<br>
                  <b>{{ 'Mentor'|trans }}:</b> {{ mentor.fullname }}
                </div>
              </div>
                <div class="row">
	              <div class="row" style="margin: 10px 15px 0px; border: 1px solid black;">
	                <div class="col-md-6" style="border-right: 1px solid black;">{{ "goal_card.table.mentor.title"|trans }}</div>
	                <div class="col-md-6" style="border-right: 1px solid black;">{{ "goal_card.table.mentee.title"|trans }}</div>
	              </div>
	              <div class="row" style="margin: 0px 15px 10px; border: 1px solid black;">
	                <div class="col-md-6">{{ "goal_card.table.mentor.content"|trans|raw }}</div>
	                <div class="col-md-6">{{ "goal_card.table.mentee.content"|trans|raw }}</div>
              	  </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                  <div class="col-md-12">{{ 'goal_card.warning'|trans }}</div>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title"><i class="fa fa-crosshairs"></i> {{ 'goal_card.goal_1'|trans }}</h3>
                    </div>
		            <div class="box-body">
		              <dl class="dl">
		                <dt>{{ 'goal_card.goal_help'|trans }}:</dt>
		                <dd>{{ goalCard.firstGoal|raw }}</dd>
		                <dt>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</dt>
		                <dd>{{ goalCard.firstKpi|raw }}</dd>
		              </dl>
		            </div>
		          </div>
              </div>
              
              <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title"><i class="fa fa-crosshairs"></i> {{ 'goal_card.goal_2'|trans }}</h3>
                    </div>
		            <div class="box-body">
		              <dl class="dl">
		                <dt>{{ 'goal_card.goal_help'|trans }}:</dt>
		                <dd>{{ goalCard.secondGoal|raw }}</dd>
		                <dt>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</dt>
		                <dd>{{ goalCard.secondKpi|raw }}</dd>
		              </dl>
		            </div>
		          </div>
              </div>
              
              <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title"><i class="fa fa-crosshairs"></i> {{ 'goal_card.goal_3'|trans }}</h3>
                    </div>
		            <div class="box-body">
		              <dl class="dl">
		                <dt>{{ 'goal_card.goal_help'|trans }}:</dt>
		                <dd>{{ goalCard.thirdGoal|raw }}</dd>
		                <dt>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</dt>
		                <dd>{{ goalCard.thirdKpi|raw }}</dd>
		              </dl>
		            </div>
		          </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-md-12"><b>{{ 'goal_card.measure_success'|trans }}</b></div>
                </div>
              <div class="box-footer" style="margin-top:10px;">
    		   <a href="{{ path('process_show', {id: process.id}) }}" class="btn btn-primary">{{ 'process.card.back'|trans }}</a>
    		   <div class="pull-right">
    		      {% if mentee.id == user.id %}
    		       {% if goalCard.acceptedMentee == 1 %}
    		         <a href="#" class="btn btn-success">{{ 'goal_card.accept.accepted'|trans }}</a>
    		       {% else %}
    		         <a href="#" class="btn btn-danger acceptedButton" data-user-id="{{ user.id }}" data-user-type="mentee">{{ 'goal_card.accept.accept'|trans }}</a>
    		       {% endif %}
    		      {% endif %}
    		      {% if mentor.id == user.id %}
    		       {% if goalCard.acceptedMentor == 1 %}
    		         <a href="#" class="btn btn-success">{{ 'goal_card.accept.accepted'|trans }}</a>
    		       {% else %}
    		         <a href="#" class="btn btn-danger acceptedButton" data-user-type="mentor">{{ 'goal_card.accept.accept'|trans }}</a>
    		       {% endif %}
    		     {% endif %}
   	    		   <a href="{{ path('process_pdf_goal', {id: goalCard.id}) }}" class="btn btn-primary">{{ 'process.goal_card.pdf'|trans }}</a> 		   
	    		   <a href="{{ path('process_goal_card_edit', {id: goalCard.id}) }}" class="btn btn-primary">{{ 'process.goal_card.edit'|trans }}</a>
    		   </div>
</div>
{% endblock %}
{% block avanzu_javascripts_inline%}
<script>

$(".acceptedButton").click(function(event) {
  event.preventDefault();
  var button = $(this),
	  userType = button.attr('data-user-type');
  if (button.hasClass('btn-success')) {
    return false;
  }	
  $.ajax({
      method: "POST",
      url: "{{ path("process_goal_card_accept", {id: goalCard.id})}}",
      data: { 'userType': userType }
    })
   .success(function (data) {
        button.removeClass('btn-danger').addClass('btn-success');
        button.html("{{ 'goal_card.accept.accepted'|trans }}");
  });
});


</script>
{% endblock %}