{% extends 'blank.html.twig' %}
{% block avanzu_page_content %}
<style>
 .harmonogram { 
   border-collapse: collapse;
 }
 .harmonogram,
 .harmonogram > th,
 .harmonogram > td {
   padding: 3px 0;
   text-align: center;
   border: 1px solid black;
 }
</style>
<h2>{{ 'raport.title'|trans }}</h2>
<table>
  <tr><td>
    {{ 'Client'|trans }}/{{ 'Company'|trans }}: {{ client.fullname }} / {{ company.companyname }}<br>
    {{ 'Mentee'|trans }}: {{ mentee.fullname }}<br>
      {% if menteeWatcher %}{{ 'goal_card.direct_superior'|trans }}: {{ menteeWatcher.fullname }}<br>{% endif %}
    {{ 'raport.period'|trans }}: {{ process.startDate|date('Y-m-d') }} - {{ process.endDate|date('Y-m-d') }}
  </td>
    <td>
      {{ 'raport.dateStart'|trans }}: {{ process.startDate|date('Y-m-d') }}<br>
      {{ 'Mentor'|trans }}: {{ mentor.fullname }}
    </td>
  </tr>
</table>
<h2>{{ 'raport.harmonogram'|trans }}</h2>
<table class="harmonogram">
  <tr>
    <th style="width: 20px">#</th>
    <th style="width: 200px">{{ 'raport.session.realisation.term'|trans }}</th>
    <th style="width: 100px">{{ 'raport.session.realisation.confirmation.by_mentee'|trans }}</th>
    <th style="width: 100px">{{ 'raport.session.realisation.confirmation.by_mentor'|trans }}</th>
  </tr>
  {% for session in sessionList %}
      <tr>
        <td>{{ loop.index }}</td>
        {% if session %}
          <td>{{ session.startDate|date('Y-m-d H:i:s') }} - {{ session.endDate|date('Y-m-d H:i:s') }}</td>
          <td>
            {% if session.confirmedMentee %}
              {{ 'session.confirmed'|trans }}
            {% else %}
              {% if session.status == sessionRealizedStatus %}
                {{ 'session.status.realized'|trans }}
              {% else %}
                {{ 'session.waiting_for_realization'|trans }}
              {% endif %}
            {% endif %}
          </td>
          <td>
             {% if session.confirmedMentor %}
              {{ 'session.confirmed'|trans }}
            {% else %}
              {% if session.status == sessionRealizedStatus %}
                {{ 'session.status.realized'|trans }}
              {% else %}
                {{ 'session.waiting_for_realization'|trans }}
              {% endif %}
            {% endif %}
          </td>
        {% else %}
            <td colspan="3">{{ 'raport.session.data_not_set'|trans }}</td>
        {% endif %}
      </tr>
     {% endfor %}
</table>

<h2>{{ 'raport.title_summary'|trans }}</h2>
<ol>
  <li style="padding-bottom: 10px;"><b>{{ 'raport.summary'|trans }}</b>
    <div>{{ summary.summary|raw }}</div>
  </li>
  <li style="padding-bottom: 10px;"><b>{{ 'raport.informations'|trans }}</b>
    <div>{{ summary.informations|raw }}</div></li>
  <li><b>{{ 'raport.rating'|trans }}</b>
    <p>
      <b>{{ 'goal_card.goal_1'|trans }}</b>: {{ summary.ratingFirstGoalSummary|raw }}<br><br>
      <b>{{ 'rate'|trans }}:</b> {{ summary.ratingFirstGoalRate }}%<br><br>
      {{ summary.ratingFirstGoalComment|raw }}
    </p>
    <p>
      <b>{{ 'goal_card.goal_2'|trans }}</b>: {{ summary.ratingSecondGoalSummary|raw }}<br><br>
      <b>{{ 'rate'|trans }}:</b> {{ summary.ratingSecondGoalRate }}%<br><br>
      {{ summary.ratingSecondGoalComment|raw }}
    </p>
    <p>
      <b>{{ 'goal_card.goal_3'|trans }}</b>: {{ summary.ratingThirdGoalSummary|raw }}<br><br>
      <b>{{ 'rate'|trans }}:</b> {{ summary.ratingThirdGoalRate }}%<br><br>
      {{ summary.ratingThirdGoalComment|raw }}
    </p>
  </li>
  <li style="padding-bottom: 10px;"><b>{{ 'raport.recommendations'|trans }}</b>
    <div>{{ summary.recommendations|raw }}</div></li>
  <li style="padding-bottom: 10px;"><b>{{ 'raport.information_for_mentee_superior'|trans }}</b>
    <div>{{ summary.informationForSuperior|raw }}</div></li>
  <li style="padding-bottom: 10px;"><b>{{ 'raport.additional'|trans }}</b>
    <div>{{ summary.additionalInformations|raw }}</div></li>
</ol>
{% endblock %}
