{% extends 'blank.html.twig' %}
{% block avanzu_page_content %}
<style>
 .harmonogram { 
   border-collapse: collapse;
 }
 .harmonogram,
 .harmonogram > th,
 .harmonogram > td {
   padding: 3px 5px;
   border: 1px solid black;
 }
</style>
<h2>{{ 'goal_card.title'|trans }}</h2>
<table>
  <tr><td>
    {{ 'Client'|trans }}/{{ 'Company'|trans }}: {{ client.fullname }} / {{ company.companyname }}<br>
    {{ 'Mentee'|trans }}: {{ mentee.fullname }}<br>
          {% if menteeWatcher %}{{ 'goal_card.direct_superior'|trans }}: {{ menteeWatcher.fullname }}<br>{% endif %}
    {{ 'raport.period'|trans }}: {{ process.startDate|date('Y-m-d') }} - {{ process.endDate|date('Y-m-d') }}
  </td>
    <td>
      {{ 'raport.dateStart'|trans }}: {{ process.startDate|date('Y-m-d') }}<br>
      {{ 'Mentor'|trans }}: {{ mentor.fullname }}
    </td>
  </tr>
</table><br><br>
<table class="harmonogram">
  <tr>
    <th>{{ "goal_card.table.mentor.title"|trans }}</th>
    <th>{{ "goal_card.table.mentee.title"|trans }}</th>
  </tr>
  <tr>
    <td>{{ "goal_card.table.mentor.content"|trans|raw }}</td>
    <td>{{ "goal_card.table.mentee.content"|trans|raw }}</td>
  </tr>
</table>
<p><b>{{ 'goal_card.warning'|trans }}</b></p>
<table  class="harmonogram">
  <tr><td><b>{{ 'goal_card.goal_1'|trans }} / ({{ 'goal_card.goal_help'|trans }}):</b><br>{{ goalCard.firstGoal|raw }}</td></tr>
  <tr><td><b>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</b><br>{{ goalCard.firstKpi|raw }}</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td><b>{{ 'goal_card.goal_2'|trans }} / ({{ 'goal_card.goal_help'|trans }}):</b><br>{{ goalCard.secondGoal|raw }}</td></tr>
  <tr><td><b>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</b><br>{{ goalCard.secondKpi|raw }}</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td><b>{{ 'goal_card.goal_3'|trans }} / ({{ 'goal_card.goal_help'|trans }}):</b><br>{{ goalCard.thirdGoal|raw }}</td></tr>
  <tr><td><b>{{ 'goal_card.kpi'|trans }} / {{ 'goal_card.kpi_help'|trans }}:</b><br>{{ goalCard.thirdKpi|raw }}</td></tr>
</table>
<p><b>{{ 'goal_card.measure_success'|trans }}</b></p>

{% endblock %}
