{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-slider/slider.css') }}">
{% endblock %}
{% block avanzu_page_content %}
    <div class="row">
      <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'raport.title'|trans }}</h3>
              <div class="box-tools pull-right">
              {{ 'process.status_text'|trans }}: <a href="#" class="btn btn-info btn-xs">{{ process.getStatusText|trans }}</a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <div class="row">
                <div class="col-md-6">
                  <b>{{ 'Client'|trans }} / {{ 'Company'|trans }}:</b> {{ client.fullname }} / {{ company.companyname }}<br>
                  <b>{{ 'Mentee'|trans }}:</b> <a href="{{ path('user_profile_view', {'id': mentee.id }) }}">{{ mentee.fullname }}</a><br>
                  {% if menteeWatcher %}<b>{{ 'goal_card.direct_superior'|trans }}:</b> <a href="{{ path('user_profile_view', {'id': menteeWatcher.id }) }}">{{ menteeWatcher.fullname }}</a><br>{% endif %}
                  <b>{{ 'raport.period'|trans }}:</b> {{ process.startDate|date('Y-m-d') }} - {{ process.endDate|date('Y-m-d') }}
                </div>
                <div class="col-md-6">
                  <b>{{ 'raport.dateStart'|trans }}:</b> {{ process.startDate|date('Y-m-d') }}<br>
                  <b>{{ 'Mentor'|trans }}:</b> <a href="{{ path('user_profile_view', {'id': mentor.id }) }}">{{ mentor.fullname }}</a>
                </div>
              </div>
              <h4 class="box-title" style="margin-top: 20px">{{ 'raport.harmonogram'|trans }}
                        <a href="{{ path('user_profile_view', {'id': mentor.id }) }}" class="btn btn-default btn-xs">{{ 'process.show.calendar'|trans }}</a></h4>
              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>{{ 'raport.session.realisation.term'|trans }}</th>
                  <th>{{ 'raport.session.realisation.accept'|trans }}</th>
                  <th>{{ 'raport.session.realisation.confirmation.by_mentee'|trans }}</th>
                  <th>{{ 'raport.session.realisation.confirmation.by_mentor'|trans }}</th>
                </tr>
                {% set showAddLink = true %}
                {% for session in sessionList %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    {% if session %}
                      <td>{{ session.startDate|date('Y-m-d H:i:s') }} - {{ session.endDate|date('Y-m-d H:i:s') }}
                         {% if session.canShowProposeNewDateLink and not process.isClosed %}
                         <br><a href="{{ path('user_profile_view', {'id': mentor.id, 'sid': session.id }) }}" class="btn btn-info btn-xs" id="proposeNewDate-{{ session.id }}">{{ 'session.get.new_date'|trans }}</a>
                         {% endif %}
                      </td>
                      <td>
                      {% if not process.isClosed %}
                          {% if session.isRejectedStatus %}
                             {{ 'session.accept.waiting.new_date'|trans }}
                             {% if session.rejectReason %}<br><b>{{ 'Reject reason'|trans }}:</b><br> {{ session.rejectReason }}{% endif %}
                          {% elseif session.isBothAccepted %}
                             <button type="button" class="btn btn-block btn-success btn-xs">{{ 'session.accepted'|trans }}</button>
                          {% elseif session.isAcceptedStatus %}
                            {% if user.id == process.idMentor %}
                              {% if not session.acceptByMentor %}
                                <a class="btn btn-primary" href="{{ path('session_accept', {id: session.id })}}">{{ 'session.form_accept.accept'|trans }}</a>
                              {% elseif not session.acceptByMentee %}
                                {{ 'session.accept.waiting.mentee'|trans }}
                              {% endif %}
                            {% elseif user.id == process.idMentee %}
                              {% if not session.acceptByMentee %}
                                <a  class="btn btn-primary" href="{{ path('session_accept', {id: session.id })}}">{{ 'session.form_accept.accept'|trans }}</a>
                              {% elseif not session.acceptByMentor %}
                                {{ 'session.accept.waiting.mentor'|trans }}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                      {% endif %}
                      </td>
                      <td>
                        {% if session.confirmedMentee %}
                          <button type="button" class="btn btn-block btn-success btn-xs">{{ 'session.confirmed'|trans }}</button>
                        {% else %}
                          {% if session.isToConfirmStatus %}
                            {% if user.id == process.idMentee %}
                            <button type="button" class="btn btn-block btn-info btn-xs {% if not process.isClosed %}confirm{% endif %}" data-user-type="user_mentee"  data-session-id="{{ session.id }}">{{ 'session.confirm'|trans }}</button>
                            {% else %}
                            <button type="button" class="btn btn-block btn-danger btn-xs" >{{ 'session.not_confirmed'|trans }}</button>
                            {% endif %}
                          {% else %}
                            {{ 'session.waiting_for_realization'|trans }}
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                         {% if session.confirmedMentor %}
                          <button type="button" class="btn btn-block btn-success btn-xs">{{ 'session.confirmed'|trans }}</button>
                        {% else %}
                          {% if session.isToConfirmStatus %}
                            {% if user.id == process.idMentor %}
                            <button type="button" class="btn btn-block btn-info btn-xs {% if not process.isClosed %}confirm{% endif %}" data-user-type="user_mentor" data-session-id="{{ session.id }}">{{ 'session.confirm'|trans }}</button>
                            {% else %}
                            <button type="button" class="btn btn-block btn-danger btn-xs" >{{ 'session.not_confirmed'|trans }}</button>
                            {% endif %}
                          {% else %}
                            {{ 'session.waiting_for_realization'|trans }}
                          {% endif %}
                        {% endif %}
                      </td>
                    {% else %}
                      {% if showAddLink and user.id == process.idMentee and not process.isClosed %}
                        <td colspan="4"><a  class="btn btn-primary"  href="{{ path('user_profile_view', {'id': mentor.id }) }}?plan=1">{{ 'raport.session.plan'|trans }}</a></td>
                        {% set showAddLink = false %}
                      {% else %}
                        <td colspan="4">{{ 'raport.session.data_not_set'|trans }}</td>
                      {% endif %}
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
            
              {% if summary %}
           <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'raport.title_summary'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body ">
              <div class="row" style="margin-right: 10px;">
                <ol>
                  <li style="padding-bottom: 10px;"><b>{{ 'raport.summary'|trans }}</b>
                    <div>{{ summary.summary|raw }}</div>
                  </li>
                  <li style="padding-bottom: 10px;"><b>{{ 'raport.informations'|trans }}</b>
                    <div>{{ summary.informations|raw }}</div></li>
                  <li><b>{{ 'raport.rating'|trans }}</b>
                  	<div class="col-sm-12" style="padding-bottom: 10px;">
                  	<div class="row">
					  <div class="col-sm-12" style="padding-top: 5px;"><b>{{ 'goal_card.goal_1'|trans }}</b>: {{ summary.ratingFirstGoalSummary|raw }}</div>
                  	  <div class="col-sm-12">
                  	    <input type="text" value="{{ summary.ratingFirstGoalRate }}" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="{{ summary.ratingFirstGoalRate }}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua" data-value="{{ summary.ratingFirstGoalRate }}" data-slider-enabled="false" style="display: none;">
                  	  </div>
                  	  <div class="col-sm-12">{{ summary.ratingFirstGoalComment|raw }}</div>
                  	</div>
                  	
                  	<div class="row">
					  <div class="col-sm-12" style="padding-top: 5px;"><b>{{ 'goal_card.goal_2'|trans }}</b>: {{ summary.ratingSecondGoalSummary|raw }}</div>
                  	  <div class="col-sm-12">
                  	    <input type="text" value="{{ summary.ratingSecondGoalRate }}" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="{{ summary.ratingSecondGoalRate }}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua" data-value="{{ summary.ratingSecondGoalRate }}" data-slider-enabled="false" style="display: none;">
                  	  </div>
                  	  <div class="col-sm-12">{{ summary.ratingSecondGoalComment|raw }}</div>
                  	</div>
                  	
                  	<div class="row">
					  <div class="col-sm-12" style="padding-top: 5px;"><b>{{ 'goal_card.goal_3'|trans }}</b>: {{ summary.ratingThirdGoalSummary|raw }}</div>
                  	  <div class="col-sm-12">
                  	    <input type="text" value="{{ summary.ratingThirdGoalRate }}" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="{{ summary.ratingThirdGoalRate }}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua" data-value="{{ summary.ratingThirdGoalRate }}" data-slider-enabled="false" style="display: none;">
                  	  </div>
                  	  <div class="col-sm-12">{{ summary.ratingThirdGoalComment|raw }}</div>
                   	</div>
                  </li>
                  <li style="padding-bottom: 10px;"><b>{{ 'raport.recommendations'|trans }}</b>
                    <div>{{ summary.recommendations|raw }}</div></li>
                  <li style="padding-bottom: 10px;"><b>{{ 'raport.information_for_mentee_superior'|trans }}</b>
                    <div>{{ summary.informationForSuperior|raw }}</div></li>
                  <li style="padding-bottom: 10px;"><b>{{ 'raport.additional'|trans }}</b>
                    <div>{{ summary.additionalInformations|raw }}</div></li>
                </ol>
              {% endif %}
            </div>
            
    		<div class="box-footer">
    		   <a href="{{ path('process_show_my') }}" class="btn btn-primary">{{ 'companies.index.back'|trans }}</a>
    		   <div class="pull-right">
                 {% if not process.isClosed %}
    		     <a href="{{ path('process_close', {id: process.id }) }}" class="btn btn-danger">{{ 'process.close.link'|trans }}</a>
    		     {% endif %}
    		     {% if is_granted('ROLE_ADMIN') %}
    		       {% if process.blockedForClient == 1 %}
    		         <a href="#" class="btn btn-danger blockforclient">{{ 'process.block.for.client.unblock'|trans }}</a>
    		       {% else %}
    		         <a href="#" class="btn btn-success blockforclient">{{ 'process.block.for.client.block'|trans }}</a>
    		       {% endif %}
    		     {% endif %}
    		     <a href="{{ path('process_pdf', {id: process.id}) }}" class="btn btn-primary">{{ 'process.pdf.link'|trans }}</a>
      		     {% if summary %}
      		     <a href="{{ path('process_summary_edit', {id: summary.id}) }}" class="btn btn-primary">{{ 'process.summary.link'|trans }}</a>    		   
       		     {% endif %}
       		     <a href="{{ path('process_goal_card_show', {id: process.id}) }}" class="btn btn-primary">{{ 'process.goal_card.link'|trans }}</a>
    		   </div>
    		</div>
          </div>
      </div>
</div>
{% endblock %}
{% block avanzu_javascripts_inline%}
<script src="{{ asset('theme/plugins/bootstrap-slider/bootstrap-slider.js') }}"></script>
<script>
$(".slider").slider({});
$(".confirm").click(function(event) {
    event.preventDefault();
	var id = $(this).attr('data-session-id'),
	    userType = $(this).attr('data-user-type'),
	    td = $(this).parent();
    $.ajax({
	    method: "POST",
	    url: "{{ path("session_confirm_realization") }}/" + id,
	    data: { id: id, type: userType }
	  })
	  .success(function (data) {
	    if (data.bothConfirmed == true) {
	        $("#proposeNewDate-"+id).hide();
	    }
	    td.html("<button type=\"button\" class=\"btn btn-block btn-success btn-xs\">{{ 'session.confirmed'|trans }}</button>");
	  });
});
$(".blockforclient").click(function(event) {
  event.preventDefault();
  var button = $(this);
  $.ajax({
      method: "POST",
      url: "{{ path("process_block_for_client", {id: process.id})}}"
    })
   .success(function (data) {
      if (data.blocked) {
        button.removeClass('btn-success').addClass('btn-danger');
        button.html("{{ 'process.block.for.client.unblock'|trans }}");
      } else {
        button.removeClass('btn-danger').addClass('btn-success');
        button.html("{{ 'process.block.for.client.block'|trans }}");
      }
  });
});


</script>
{% endblock %}