{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
 <div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(edit_form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'companies.edit'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_row(edit_form.company_name) }}
        {{ form_row(edit_form.nip) }}
     <h4 class="box-title">{{ 'Address'|trans }}</h4>
          {{ form_row(edit_form.addressStreet) }}
          {{ form_row(edit_form.addressBuilding) }}
          {{ form_row(edit_form.addressLocal) }}
          {{ form_row(edit_form.addressPostalCode) }}
          {{ form_row(edit_form.addressCity) }}
      <h4 class="box-title">{{ 'Correspondence address'|trans }}</h4>
          {{ form_row(edit_form.correspondenceStreet) }}
          {{ form_row(edit_form.correspondenceBuilding) }}
          {{ form_row(edit_form.correspondenceLocal) }}
          {{ form_row(edit_form.correspondencePostalCode) }}
          {{ form_row(edit_form.correspondenceCity) }}
      <h4 class="box-title">{{ 'Rules'|trans }}</h4>
        {{ form_widget(edit_form) }}
      </div>
      <div class="box-footer">
      <a href="{{ path('company_index') }}" class="btn btn-primary">{{ 'companies.index.back'|trans }}</a>
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'companies.submit'|trans }}</button>
        </div>
      </div>
    {{ form_end(edit_form) }}
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts %}
<script src="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
{% endblock %}
{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}
{% block avanzu_javascripts_inline %}
<script>
$(function(){
  $('.editor').wysihtml5();
});
</script>
{% endblock %}
