{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form with [_self, 'bootstrap_3_horizontal_layout.html.twig'] %}

{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info  collapsed-box">
    <form method="get" action="." class="form-horizontal">
    <div class="box-header with-border">
      <i class="fa fa-search"></i> <h3 class="box-title">{{ 'form.filter.title'|trans }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="box-body">
    {{ form_rest(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'search.mentor.submit'|trans }}</button>
      </div>
    </div>
    </form>
    </div>
  </div>
</div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'mentor.manage.companies'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
		        <thead>
		            <tr>
		                <th>
		                  {{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}
                          {% if pagination.isSorted('e.id') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
		                </th>
		                <th>
		                  {{ knp_pagination_sortable(pagination, 'companies.name'|trans, 'e.companyName') }}
                          {% if pagination.isSorted('e.companyName') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
		                </th>
		                <th>
		                  {{ knp_pagination_sortable(pagination, 'Nip'|trans, 'e.nip') }}
                          {% if pagination.isSorted('e.nip') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
		                </th>
		                <th>{{ 'Address'|trans }}</th>
		                <th>{{ 'Correspondence address'|trans }}</th>
		                <th>{{ knp_pagination_sortable(pagination, 'Status', 'e.enabled') }}
                            {% if pagination.isSorted('e.enabled') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
                        </th>
                  
		                <th>{{ 'Actions'|trans }}</th>
		            </tr>
		        </thead>
		        <tbody>
		        {% for company in pagination %}
		            <tr>
		                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
		                <td>{{ company.companyName }}</td>
		                <td>{{ company.nip }}</td>
		                <td>{{ company.address|e|truncate(20) }}</td>
		                <td>{{ company.correspondenceAddress|e|truncate(20) }}</td>
		                <td>{% if company.enabled %}
                            <span class="label label-success">{{ 'Active'|trans }}</span>
                            {% else %}
                            <span class="label label-danger">{{ 'Inactive'|trans }}</span>
                            {%endif%}
                        </td>
		                <td>
		                  	<div class="btn-group">
		                  	<a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-default" title="{{ 'list.profile.show'|trans }}"><i class="fa fa-eye"></i></a>
			                <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-default" title="{{ 'list.profile.edit'|trans }}"><i class="fa fa-edit"></i></a>
			                <a href="{{ path('company_terms', { 'id': company.id }) }}" class="btn btn-default" title="{{ 'list.terms.show'|trans }}"><i class="fa fa-file-text-o"></i></a>
			                {% if company.enabled %}
			                <a href="{{ path('change_company_status', {'id': company.id }) }}" class="btn btn-danger" title="{{ 'list.status.change.disable'|trans }}"><i class="fa fa-ban"></i></a>
			                {% else %}
			                <a href="{{ path('change_company_status', {'id': company.id }) }}" class="btn btn-success" title="{{ 'list.status.change.activate'|trans }}"><i class="fa fa-check"></i></a>
			                {% endif %}
			                </div>
		                </td>
		            </tr>
		        {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}
