{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'companies.add'|trans }}</h3>
      </div>
      <div class="box-body">
          {{ form_row(form.company_name) }}
                  {{ form_row(form.nip) }}
               <h4 class="box-title">{{ 'Address'|trans }}</h4>
                    {{ form_row(form.addressStreet) }}
                    {{ form_row(form.addressBuilding) }}
                    {{ form_row(form.addressLocal) }}
                    {{ form_row(form.addressPostalCode) }}
                    {{ form_row(form.addressCity) }}
                <h4 class="box-title">{{ 'Correspondence address'|trans }}</h4>
                    {{ form_row(form.correspondenceStreet) }}
                    {{ form_row(form.correspondenceBuilding) }}
                    {{ form_row(form.correspondenceLocal) }}
                    {{ form_row(form.correspondencePostalCode) }}
                    {{ form_row(form.correspondenceCity) }}
                <h4 class="box-title">{{ 'Rules'|trans }}</h4>
                  {{ form_widget(form) }}
                </div>
      <div class="box-footer">
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'companies.submit'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block avanzu_javascripts %}
<script src="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
{% endblock %}
{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}
{% block avanzu_javascripts_inline %}
<script>
$(function(){
  $('.editor').wysihtml5();
});
</script>
{% endblock %}

