{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
    <div class="row">
      <div class="col-md-12">
    	<div class="box box-primary">
    		<div class="box-header"><h3 class="box-title">{{ 'companies.profile'|trans }}: <strong>{{ company.companyName }}</strong></h3></div>
    		<div class="box-body">
    		     <div class="row">
    		      <div class="col-md-2"><strong>Id</strong></div>
    		      <div class="col-md-10">{{ company.id }}</div>
    			</div>
    			<hr>
    			<div class="row">
    		      <div class="col-md-2"><strong>{{ 'Nip'|trans }}</strong></div>
    		      <div class="col-md-10">{{ company.nip }}</div>
    			</div>
    			<hr>
    			<div class="row">
    		      <div class="col-md-2"><strong>{{ 'Address'|trans }}</strong></div>
    		      <div class="col-md-10">{{ company.address|e|nl2br }}</div>
    			</div>
    			<hr>
    			<div class="row">
    		      <div class="col-md-2"><strong>{{ 'Correspondence address'|trans }}</strong></div>
    		      <div class="col-md-10">{{ company.correspondenceAddress|e|nl2br }}</div>
    			</div>
    		</div>
    		<div class="box-footer">
    		   <a href="{{ path('company_index') }}" class="btn btn-primary">{{ 'companies.index.back'|trans }}</a>
    		   <div class="pull-right">
    		     <a href="{{ path('company_terms', { 'id': company.id }) }}" class="btn btn-primary">{{ 'companies.terms.link'|trans }}</a>
    		   </div>
    		</div>
    	</div>
    </div>
    <div class="col-md-12">
    	<h2 class="page-header">{{ 'companies.users.title'|trans }}</h2>
    	{% for user in company.clients %}
    	<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{ user.personFunction }}</span>
              <span class="info-box-number">{{ user.fullname }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
		{% endfor %}
      </div>
      </div>
    </div>
{% endblock %}
