{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header"><h3 class="box-title">{{ 'companies.terms.title'|trans }}: <strong>{{ company.companyName }}</strong></h3></div>
		<div class="box-body">
		     {{ company.rules|raw }}
		</div>
		<div class="box-footer">
		   {% if is_granted('ROLE_ADMIN') %}
		   <a href="{{ path('company_index') }}" class="btn btn-primary">{{ 'companies.index.back'|trans }}</a>
		   <a href="{{ path('company_show', { 'id': company.id }) }}" class="btn btn-primary">{{ 'companies.company.back'|trans }}</a>
		   {% endif %}
		</div>
	</div>
</div>
</div>
{% endblock %}