{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock avanzu_page_content %}
