{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'change_password.title'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_widget(form) }}
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'change_password.submit'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>