{% extends 'v2.html.twig' %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mb30">
                {% if successSentMessage %}
                <div class="row mt40">
                    <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      Dziękujemy za pozostawienie wiadomości
                    </div>
                </div>
                {% endif %}
                <div class="contact-form">
                    <h1>Skontaktuj się z nami</h1>
                    <p class="mb40">Wypełnij poniższy formularz a my postaramy się odpowiedzieć najszybciej jak to możliwe.</p>
                    <div class="row">
                        {{ form_start(form) }}
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.subject) }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.telephone) }}
                            </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{ form_widget(form.message) }}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <button class="btn btn-primary">Wyślij wiadomość</button>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="g-recaptcha" data-sitekey="6LfsnGEUAAAAAF5aYIARosqH2r-WnKGhBMZHu_wL"></div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}