<div id="cookienotify" style="display: block; z-index: 99999; min-height: 35px; width: 100%; position: fixed; background: rgb(31, 31, 31); border-image: initial; text-align: center; color: rgb(119, 119, 119); box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 4px 1px; right: 0px; left: 0px; border-color: rgb(198, 198, 198); bottom: 0px; border-width: 2px 0px 0px; border-top-style: outset; border-right-style: initial; border-bottom-style: initial; border-left-style: initial;">
   <div style="padding:10px; margin-left:15px; margin-right:15px; font-size:14px; font-weight:normal;">
       <span id="cookienotifytext">
         Ta strona używa plików cookie w celu usprawnienia i ułatwienia dostępu do serwisu oraz prowadzenia danych statystycznych. Dalsze korzystanie z tej witryny oznacza akceptację tego stanu rzeczy.
       </span>
       <span id="br_pc_title_html"><br></span>
       <a id="cookienotifyterms" href="{{ path('main_terms') }}" style="color: rgb(198, 198, 198);">Regulamin Serwisu</a>
       <span id="br_pc2_title_html"><br></span>
       <a id="cookienotifyinfo" href="https://www.google.pl/search?q=jak+wyłączyć+cookie" style="color: rgb(198, 198, 198);">Jak wyłączyć pliki cookies?</a>
       <div id="jwc_hr1" style="height: 10px; display: none;"></div>
       <a id="okbutton" href="javascript:cookienotify_create_cookie('cookienotify',1,7);" style="position: absolute; background: rgb(198, 198, 198); color: rgb(255, 255, 255); padding: 5px 15px; text-decoration: none; font-size: 12px; font-weight: normal; border: 0px solid rgb(31, 31, 31); border-radius: 0px; top: 5px; right: 5px;">AKCEPTUJĘ</a>
       <div id="jwc_hr2" style="height: 10px; display: none;"></div>
   </div>
</div>
<script type="text/javascript">
    var galTable= new Array();
    var galx = 0;
</script>
<script type="text/javascript">
    function cookienotify_create_cookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        } else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
        document.getElementById("cookienotify").style.display = "none";
    }

    function cookienotify_read_cookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    var cookienotify_jest = cookienotify_read_cookie("cookienotify");
    if (cookienotify_jest == 1) {
        document.getElementById("cookienotify").style.display = "none";
    }
</script>
