{% extends 'v2.html.twig' %}
{% block page_content %}
    <!-- slider-start -->
        <div class="slider">
            <div class="owl-carousel slider">
                <div class="item">
                    <div class="slider-img"> <img src="{{ asset("img/slider01.jpg") }}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Zdobywaj szczyty z najlepszymi</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-img"><img src="{{ asset("img/slider02.jpg") }}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Pokonuj wyzwania</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-img"><img src="{{ asset("img/slider03.jpg") }}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Współpracuj z doświadczonymi partnerami</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-img"><img src="{{ asset("img/slider05.jpg") }}" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Zyskaj nową perspektywę i osiągnij swój cel</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-close -->
        <!-- service-start -->
        <div class="space-medium" id="opis-aplikacji">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/mentor01.png") }}" alt="" class="img-responsive"></div>
                            <div class="service-content">
                                <h3>Innowacja</h3>
                                <p><b>Mentor<sup>Me</sup></b> to unikalna  platforma, która dzięki autorskim innowacyjnym rozwiązaniom,
                                    umożliwia prosty, bezpośredni i szybki dostęp do wiedzy i doświadczenia wyjątkowych mentorów-praktyków.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/mentor02.jpg") }}" alt="" class="img-responsive"></div>
                            <div class="service-content">
                                <h3>Doświadczenie</h3>
                                <p>
                                    Mentorami <b>Mentor<sup>Me</sup></b> są wyłącznie praktycy, doświadczeni menedżerowie, którzy nadal działają w biznesie lub którzy postanowili
                                    już się z niego wycofać i chętnie podzielą się swoimi sposobami na sukces.
                                </p>
                                <p>
                                    W gronie naszych współpracowników mamy również certyfikowanych mentorów i coachów, którzy sami przez wiele lat pracowali jako menedżerowie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/mentor03.jpg") }}" alt="" class="img-responsive"></div>
                            <div class="service-content">
                                <h3>Wygoda</h3>
                                <p>Wystarczy kliknąć i korzystając z aplikacji <b>Mentor<sup>Me</sup></b>
                                    ustalić wszystko bezpośrednio z uprzednio wybranym przez siebie mentorem. Mentoring odbywa się przy użyciu skypa, pozwalając na kontakt z mentorami niezależnie od ich i własnej lokalizacji. Osoby odpowiedzialne za mentoring w organizacjach docenią innowacyjne rozwiązania pozwalające kompleksowo zarządzać procesami i oszczędzać czas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/icons/Ikona-logo.png") }}" alt="" class="img-responsive" style="max-height:225px; margin: 0 auto;"></div>
                            <div class="service-content">
                                <h3>Proces</h3>
                                <p>Cały proces wyboru mentora, umawiania się i bieżącej komunikacji odbywa się za pomocą nowoczesnego narzędzia jakim jest aplikacja <b>Mentor<sup>Me</sup></b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/mentor05.jpg") }}" alt="" class="img-responsive"></div>
                            <div class="service-content">
                                <h3>Zarządzanie</h3>
                                <p>Menedżerowie HR-u odpowiedzialni za rozwój w organizacjach zyskują dzięki <b>Mentor<sup>Me</sup></b> pełną kontrolę nad logistyką procesów mentoringowych, ich zaawansowaniem w czasie oraz weryfikacją stopnia realizacji uzgodnionych celów. Platforma umożliwia również generowanie raportów, wspierających sprawne i efektywne zarządzanie mentoringiem w firmie.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="service-block">
                            <div class="service-img"><img src="{{ asset("img/mentor06.jpg") }}" alt="" class="img-responsive"></div>
                            <div class="service-content">
                                <h3>Mobilność</h3>
                                <p><b>Mentor<sup>Me</sup></b> zapewnia menedżerom dostęp do dowolnie wybranego przez siebie mentora niezależnie od dzielącej ich odległości.</p>
                                <p><b>Mentor<sup>Me</sup></b> pozwala więc na efektywne, od strony czasowej i finansowej, prowadzenie procesów rozwojowych w sytuacji rozproszenia geograficznego&nbsp;pracowników.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-close -->
        <!-- features-start -->
        <div class="space-medium bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title start-->
                            <h1>4 filary Twojego sukcesu z <b>Mentor<sup>Me</sup></b></h1>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="feature-block mb30">
                            <div class="feature-icon"><i class="icon-round68"></i> </div>
                            <div class="feature-content">
                                <h4>Doświadczenie mentorów</h4>
                                <p>Najwyższa jakość, potwierdzona biznesowymi sukcesami naszego zespołu mentorów-praktyków.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="feature-block mb30">
                            <div class="feature-icon"><i class="icon-round68"></i> </div>
                            <div class="feature-content">
                                <h4>Skuteczność</h4>
                                <p>Skuteczność mentoringu, jako metody rozwoju i realizacji Twoich celów.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="feature-block mb30">
                            <div class="feature-icon"><i class="icon-round68"></i> </div>
                            <div class="feature-content">
                                <h4>Innowacja</h4>
                                <p>Unikalny know-how autorskiej aplikacji <b>Mentor<sup>Me</sup></b> i praktyczne podejście</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="feature-block">
                            <div class="feature-icon"><i class="icon-round68"></i> </div>
                            <div class="feature-content">
                                <h4>Wiarygodność</h4>
                                <p>Wieloletnie doświadczenia zarówno z pracy dla międzynarodowych korporacji, jak i rozwoju menedżerów wielu organizacji gwarantuje naszą wiarygodność.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- features-close -->
        <!-- pricing-start -->
        <div class="space-medium bg-default" id="jak-to-dziala">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title start-->
                            <h1 class="text-white">Jak to działa?</h1>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="price-head">
                            <h3> Dla firmy / HR</h3>
                        </div>
                        <div class="price-block">
                            <div class="price-content price-first">
                                <h4>Firma decyduje o zakupie pakietu sesji.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/zakup-pakietu.png') }}" class="img-works">
                                </div>
                            </div>
                            <div class="price-content">
                                <h4>Alokuje sesje do poszczególnych menedżerów.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/managerowie.png') }}" class="img-works">
                                </div>
                            </div>
                            <div class="price-content pdb40">
                                <h4>Korzystając z aplikacji <b>Mentor<sup>ME</sup></b>, HR na bieżąco monitoruje postępy poszczególnych procesów, generuje zestawienia i raporty.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/aplikacja-HR.png') }}" class="img-works">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="price-head">
                            <h3>Dla menedżera / mentee</h3>
                        </div>
                        <div class="price-block">
                            <div class="price-content price-first">
                                <h4>Razem z firmą decydujesz o użyciu mentoringu jako narzędzia rozwojowego i identyfikujesz swoje obszary rozwojowe.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/obszary-rozwojowe.png') }}" class="img-works">
                                </div>
                            </div>
                            {#
                            <div class="price-content">
                                <h4>Identyfikujesz swoje obszary rozwojowe.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/obszary-rozwojowe.png') }}" class="img-works">
                                </div>
                            </div>
                            #}
                            <div class="price-content">
                                <h4>Logujesz się do platformy <b>Mentor<sup>Me</sup></b>.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/log-in-MentorMe.png') }}" class="img-works">
                                </div>
                            </div>
                            <div class="price-content">
                                <h4>Wybierasz mentora i umawiasz się  z nim bezpośrednio dzięki dostępowi do jego kalendarza.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/wyszukiwarka-mentora.png') }}" class="img-works">
                                </div>
                            </div>
                            <div class="price-content pdb40">
                                <h4>Sesje odbywają się za pomocą Skype w najdogodniejszym dla Ciebie, ustalonym z mentorem czasie.</h4>
                                <div class="price-text">
                                    <img src="{{ asset('img/icons/skype.png') }}" class="img-works">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing-close -->
{% endblock %}