{% extends 'v2.html.twig' %}
{% block page_content %}
<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1>Polityka prywatności Serwisu <b>MENTOR<sup>ME</sup></b></h1>
                    <p>
                        <b>MENTOR<sup>ME</sup></b> przykłada dużą wagę do ochrony Twojej prywatności. Pragniemy zapewnić, że traktujemy Twoje dane ze starannością i z uwzględnieniem zobowiązań wynikających z przepisów o ochronie danych osobowych. Z niniejszej Polityki dowiesz się, w jaki sposób wykorzystujemy informacje o Tobie, będące danymi osobowymi w rozumieniu przepisów Ogólnego Rozporządzenia o Ochronie Danych Osobowych Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r., Dz.Urz. UE L 119, s. 1 (RODO).
                    </p>
                    <p>Znajdziesz tu także informacje o uprawnieniach, które przysługują Ci w związku z przetwarzaniem Twoich danych osobowych przez <b>MENTOR<sup>ME</sup></b>.</p>
                    <p>Polityka dotyczy wszystkich Użytkowników Aplikacji <b>MENTOR<sup>ME</sup></b>, a także wszystkich odwiedzających naszą stronę internetową <a href="http://www.mentorme.com.pl">www.mentorme.com.pl</a>.</p>
                    <p>Nasza strona internetowa może zawierać linki do stron internetowych innych przedsiębiorców. Każdy z tych przedsiębiorców może mieć własną politykę prywatności, z którą należy się zapoznać. Nie ponosimy odpowiedzialności za praktyki dotyczące prywatności ani za produkty i usługi stron trzecich.</p>
                    <p>Prosimy o zapoznanie się z treścią niniejszej Polityki oraz z Regulaminem Serwisu <b>MENTOR<sup>ME</sup></b>, określającym warunki korzystania z naszych usług.</p>
                    </p>
                    <h1>Twoje dane osobowe i sposób ich wykorzystywania</h1>
                    <p>
                        W tej Polityce znajdziesz informacje o celach, podstawach prawnych przetwarzania, zakresie wykorzystania oraz okresie przechowywania Twoich danych przez <b>MENTOR<sup>ME</sup></b>.
                    </p>
                    <p>
                        Podanie przez Ciebie danych jest dobrowolne, ale w pewnym zakresie niezbędne do korzystania z Usług i Aplikacji <b>MENTOR<sup>ME</sup></b>, jak również może wynikać z przepisów prawa – brak podania danych uniemożliwi realizację Usług (określonych osobną umową), za co <b>MENTOR<sup>ME</sup></b> nie ponosi odpowiedzialności.
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt20">
                    <div class="st-accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h5 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Kto jest administratorem Twoich danych osobowych?</a></h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Administratorem Twoich danych osobowych jest <b>MENTOR<sup>ME</sup></b> reprezentowany przez:
                                            <ul class="angle angle-right">
                                            <div class="pdl20">
                                            <li>
                                                MCS Dariusz Michalski z siedzibą w Pruszkowie (05-800) przy ul. Kraszewskiego 33/6, wpisaną do CEIDG, o numerze NIP 534-131-20-45 i o numerze REGON 140065494;
                                            </li>
                                            <li>
                                                Trade Institute Coaching & Consulting Jarosław Czerka z siedzibą w Gdańsku (80-177) przy ul. Stolema 49/15, wpisanym do CEIDG, o numerze NIP 583-176-31-11 i o numerze REGON 220853175;
                                            </li>
                                            </div>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h5 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             2. Świadczenie usług <b>MENTOR<sup>ME</sup></b>
                         </a></h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Świadczenie usług przez <b>MENTOR<sup>ME</sup></b> obejmuje następujące działania po stronie <b>MENTOR<sup>ME</sup></b>: czynności administracyjne związane z realizacją Usług, za pośrednictwem środków komunikacji elektronicznej, w szczególności Aplikacji <b>MENTOR<sup>ME</sup></b>, rozpatrywanie reklamacji, kontrolę jakości usług, marketing własnych usług.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h5 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. Jakie dane przetwarzamy w związku ze świadczeniem usług <b>MENTOR<sup>ME</sup></b></a></h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Dane osobowe (imię, nazwisko, dane adresowe, telefoniczne, mailowe) oraz dane zebrane w związku z odwiedzaniem przez Ciebie naszej strony internetowej <a href="http://www.mentorme.com.pl">www.mentorme.com.pl</a> (w tym dane zbierane automatycznie w plikach cookies).
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h5 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">4. W jakim celu i na jakiej podstawie przetwarzamy Twoje dane? Jak długo je przechowujemy?</a></h5>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        Twoje dane przetwarzamy wyłącznie w związku z usługami, które realizujemy i tylko wtedy, kiedy mamy do tego podstawę. Dane te przechowujemy nie dłużej niż jest to konieczne do realizacji celów, dla których je zgromadzono, chyba że obowiązujące przepisy wymagają od nas ich dłuższego przechowywania. Okresy przechowywania mogą różnić się w zależności od celu przetwarzania. Po upływie okresów przechowywania Twoje dane osobowe zostaną usunięte lub zanonimizowane.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h5 class="panel-title">
                     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5. Jaki to cel, podstawa i jak długo?</a>
                         </h5>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <ol class="angle angle-right">
                                            <div class="pdl20">
                                            <li>wykonanie umowy (realizacja Usług <b>MENTOR<sup>ME</sup></b>), na podstawie umowy o współpracę lub realizację usług, których zakres i warunki precyzuje umowa pomiędzy Twoją Firmą a <b>MENTOR<sup>ME</sup></b> – przez okres realizacji usług;</li>
                                            <li>zarekomendowanie odpowiedniej Usług <b>MENTOR<sup>ME</sup></b> (dotyczy informacji o potrzebach rozwojowych), na podstawie Twojego zapytania lub wyrażonej zgody – do czasu cofnięcia zgody;</li>
                                            <li>marketing własnych produktów lub usług <b>MENTOR<sup>ME</sup></b>, na podstawie uzasadnionego interesu administratora danych – do czasu wyrażenia sprzeciwu wobec przetwarzania danych osobowych w tym celu, a po zrealizowaniu Umowy, na podstawie wyrażonej zgody – do czasu cofnięcia tej zgody. Uzasadnionym interesem jest prowadzenie przez <b>MENTOR<sup>ME</sup></b> marketingu bezpośredniego swoich usług. W tym celu przetwarzane będą dane w zakresie: imię, nazwisko, dane kontaktowe;</li>
                                            <li>rachunkowy, na podstawie przepisów o rachunkowości – przez 5 lat od początku roku następującego po roku obrotowym, w którym płatność związana ze zrealizowaną umową została ostatecznie spłacona, rozliczona lub przedawniona;</li>
                                            <li>ewentualna windykacja i dochodzenie roszczeń oraz obrona praw <b>MENTOR<sup>ME</sup></b> w postępowaniu karnym, na podstawie prawnie usprawiedliwionego interesu <b>MENTOR<sup>ME</sup></b>, do czasu upływu okresów przedawnienia roszczeń, zgodnie z obwiązującymi przepisami prawa. Prawnie uzasadnionym interesem jest możliwość dochodzenia roszczeń przez <b>MENTOR<sup>ME</sup></b>.</li>
                                            </div>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">6. Czy udostępniamy komukolwiek Twoje dane?</a></h5>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <p>Udostępniamy dane Użytkowników Serwisu <b>MENTOR<sup>ME</sup></b> tylko wtedy, gdy jest to niezbędne w związku z realizacją Usług <b>MENTOR<sup>ME</sup></b>. Działania takie są zgodne z obowiązującymi przepisami o ochronie danych osobowych. Możemy udostępniać dane podmiotom przetwarzającym je na zlecenie <b>MENTOR<sup>ME</sup></b> jako administratora, m.in. podmiotom z którymi <b>MENTOR<sup>ME</sup></b> współpracuje w zakresie opracowywania i realizacji Usług <b>MENTOR<sup>ME</sup></b> (np. Mentorom <b>MENTOR<sup>ME</sup></b>  realizującym konsultacje mentoringowe), dostawcom usług IT mającym siedzibę̨ w Polsce, dostawcom usług archiwizacji dokumentacji, podmiotom przetwarzającym dane w celu windykacji należności, kancelariom prawnym świadczącym wsparcie prawne, agencjom marketingowym, biurom rachunkowym – przy czym takie podmioty przetwarzają dane na podstawie umowy z administratorem i wyłącznie zgodnie z poleceniami administratora.</p>
                                        <p>Nie przekazujemy Twoich danych poza obszar Unii Europejskiej lub Europejskiego Obszaru Ekonomicznego.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">7. Jakie mam prawa?</a></h5>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        Masz kontrolę nad swoimi danymi i masz następujące prawa:
                                        <ul class="angle angle-right">
                                            <div class="pdl20">
                                                <li><b>prawo do wyrażenia oraz cofnięcia zgód na:</b>
                                                        przetwarzanie Twoich danych kontaktowych, tj. adresu e-mail i numeru telefonu w celu otrzymywania komunikacji marketingowej drogą elektroniczną na adres e-mail, numer sms, w drodze połączenia telefonicznego lub za pośrednictwem automatycznych urządzeń wywołujących;
                                                <li><b>prawo do wniesienia sprzeciwu:</b>
                                                    <ul class="angle angle-right">
                                                        <div class="pdl20">
                                                        <li>w zakresie przetwarzania Twoich danych w celu marketingu bezpośredniego usług <b>MENTOR<sup>ME</sup></b>,</li>
                                                        <li>dotyczącego przetwarzania Twoich danych osobowych w ramach prawnie uzasadnionych interesów <b>MENTOR<sup>ME</sup></b>, z przyczyn związanych z Twoją szczególną sytuacją;</li>
                                                    </div>
                                                    </ul>
                                                <li>
                                                    <b>prawo dostępu do Twoich danych</b>, w tym uzyskania kopii danych podlegających przetwarzaniu, także w formie elektronicznej; do uzyskania informacji m.in. o: celach przetwarzania, kategoriach danych osobowych, kategoriach odbiorców, którym dane osobowe zostały lub zostaną ujawnione, planowanym okresie przechowywania danych osobowych, źródle ich pozyskania przez <b>MENTOR<sup>ME</sup></b>;
                                                </li>
                                                <li>
                                                    <b>prawo do sprostowania (poprawienia) Twoich danych osobowych</b>, jeśli Twoje dane znajdujące się w naszym posiadaniu są nieprawidłowe lub niekompletne;
                                                </li>
                                                <li>
                                                    <b>prawo do usunięcia Twoich danych</b>, jeśli Twoje dane nie są już niezbędne do celów, w których zostały zebrane, a <b>MENTOR<sup>ME</sup></b> nie ma podstaw do ich przetwarzania, np. na podstawie Twojej zgody albo realizacji obowiązku prawnego;
                                                </li>
                                                <li>
                                                    <b>prawo do przenoszenia danych udostępnionych nam przez Ciebie</b>, w formacie do odczytu maszynowego, np. gdybyś chciał udostępnić je innemu dostawcy usług; uprawnienie to dotyczy wyłącznie danych osobowych, które <b>MENTOR<sup>ME</sup></b> przetwarza na podstawie Twojej zgody lub na podstawie zawartej umowy (realizowanych usług).
                                                </li>
                                                <li><b>prawo ograniczenia przetwarzania Twoich danych</b> w następujących przypadkach (przy składaniu wniosku należy wskazać jeden z poniższych przypadków):
                                                    <ol class="angle angle-right">
                                                        <div class="pdl20">
                                                        <li>jeśli masz zastrzeżenia co do prawidłowości Twoich danych;</li>
                                                        <li>jeśli uważasz, że nie powinniśmy przetwarzać Twoich danych, ale jednocześnie nie chcesz, abyśmy je usunęli;</li>
                                                        <li>jeśli takie dane osobowe nie są już nam potrzebne, natomiast Ty potrzebujesz ich w związku z dochodzeniem roszczeń;</li>
                                                        <li>jeśli wyraziłeś sprzeciw wobec przetwarzania Twoich danych, a naszym obowiązkiem jest sprawdzenie, czy powinniśmy je dalej przetwarzać.</li>
                                                        </div>
                                                    </ol>
                                                </li>
                                        </ul>             
                                        <p>
                                            Ze swoich uprawnień możesz skorzystać poprzez złożenie odpowiedniej dyspozycji za pośrednictwem poczty tradycyjnej lub elektronicznej.
                                        </p>
                                        <p>
                                            <b>MENTOR<sup>ME</sup></b> udzieli Ci informacji o działaniach podjętych w związku z Twoim żądaniem najpóźniej w terminie miesiąca od otrzymania dyspozycji.
                                        </p>
                                        <p>
                                            W celu realizacji Twojego żądania jesteśmy uprawnieni do weryfikacji Twojej tożsamości, aby Twoje dane nie trafiły do nieuprawnionej osoby. Możemy również nagrywać Twoje połączenia telefoniczne z osobami reprezentującymi <b>MENTOR<sup>ME</sup></b>.
                                        </p>
                                        <p> 
                                            Jeżeli Twoje żądanie okazałoby się ewidentnie nieuzasadnione lub nadmierne, w szczególności ze względu na swój nagminny charakter, <b>MENTOR<sup>ME</sup></b> może zażądać uzasadnionej opłaty za realizację wniosku albo odmówić podjęcia działań w związku z żądaniem.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">8. Przydatne informacje kontaktowe. Aktualizacje naszej Polityki </a></h5>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="panel-body">
                                        <p>Jeśli uznasz, że Twoje dane osobowe są przetwarzane niezgodnie z obowiązującymi przepisami, masz prawo wnieść skargę do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych (PUODO).</p>
                                        <p>Niniejsza Polityka wchodzi w życie z dniem 27 lipca 2018 r.</p>
                                        <p>W związku z potrzebami, jakie mogą wyniknąć z rozwoju oferowanych przez nas usług albo zmian regulacyjnych, uprawnieni jesteśmy do zmiany Polityki. Nowa wersja Polityki publikowana będzie na naszej stronie internetowej <a href="http://www.mentorme.com.pl">www.mentorme.com.pl</a>.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


