{% extends 'v2.html.twig' %}
{% block page_content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<h1>Regulamin Serwisu <b>Mentor<sup>ME</sup></b></h1>
                <h3>Spis treści:</h3>
                <ul class="angle angle-right">
                    <div class="pdl20">
                        <li><a href="#i-definicje">I. Definicje</a></li>
                        <li><a href="#ii-postanowienia-ogolne">II. Postanowienia ogólne</a></li>
                        <li><a href="#iii-warunki-korzystania">III.Warunki korzystania z Aplikacji <b>Mentor<sup>ME</sup></b></a>
                        <ul class="angle angle-right">
                            <div class="pdl20">
                                <li><a href="#iii-warunki-techniczne">1. Warunki techniczne</a></li>
                                <li><a href="#iii-warunki-formalne">2. Warunki formalne</a></li>
                                <li><a href="#iii-warunki-ogolne">3. Warunki ogólne</a></li>
                            </div>
                        </ul>
                    <li><a href="#iv-uslugi">IV. Usługi <b>Mentor<sup>ME</sup></b>
                        <ul class="angle angle-right">
                            <div class="pdl20">
                                <li><a href="#iv-zakres-uslug">1. Zakres usług</a></li>
                                <li><a href="#iv-warunki-formalne">2. Warunki formalne korzystania z usług <b>Mentor<sup>ME</sup></b></a></li>
                            </div>
                        </ul>
                    </li>
                        <li><a href="#v-polityka-prywatnosci">V. Polityka prywatności</a></li>
                        <li><a href="#vi-zablokowanie-konta">VI. Zablokowanie lub usunięcie konta / profilu w Aplikacji <b>Mentor<sup>ME</sup></b></a></li>
                        <li><a href="#vii-reklamacje">VII. Reklamacje</a></li>
                        <li><a href="#viii-postanowienia-koncowe">VIII. Postanowienia końcowe</a></li>
                    </div>
                </ul>
           <ol>
               <li class="mt40" id="i-definicje"><h4>I. Definicje</h4>
                   <dl>
                       <dt>Regulamin</dt>
                       <dd>niniejszy Regulamin Aplikacji <b>Mentor<sup>ME</sup></b>;</dd>
                       <dt><b>Mentor<sup>ME</sup></b></dt>
                       <dd>marka chroniona prawami autorskimi, której właścicielami są Dariusz Michalski i Jarosław Czerka mogący reprezentować <b>Mentor<sup>ME</sup></b> zarówno wspólnie jak i rozdzielnie, prowadzący własne działalności gospodarcze, odpowiednio pod firmami:
                           <ul class="angle angle-right">
                               <div class="pdl20">
                                   <li>MCS Dariusz Michalski z siedzibą w Pruszkowie (05-800) przy ul. Kraszewskiego 33/6, wpisaną do CEIDG, o numerze NIP 534-131-20-45 i o numerze REGON 140065494;</li>
                                   <li>Trade Institute Coaching & Consulting Jarosław Czerka z siedzibą w Gdańsku (80-177) przy ul. Stolema 49/15, wpisanym do CEIDG, o numerze NIP 583-176-31-11 i o numerze REGON 220853175;</li>
                               </div>
                           </ul>
                       </dd>
                       <dt>Aplikacja</dt><dd>chronione prawami autorskimi oprogramowanie pod marką <b>Mentor<sup>ME</sup></b> wraz ze stroną internetową i jej podstronami;</dd>
                       <dt>Administrator</dt>
                       <dd>Dariusz Michalski i Jarosław Czerka lub osoby wskazane zapisami osobnej umowy upoważnione do zarządzania Aplikacją;</dd>
                       <dt>Firma</dt>
                       <dd>osoba prawna, osoba fizyczna lub jednostka organizacyjna, która podpisała z <b>Mentor<sup>ME</sup></b> umowę zakupu usług;
                       <dt>Klient</dt>
                       <dd>osoba fizyczna wskazana w umowie z <b>Mentor<sup>ME</sup></b> przez Firmę do obsługi umowy w tym zarządzania profilami Firmy i Klienta, uprawniona przez Firmę do udostępniania  <b>Mentor<sup>ME</sup></b> danych osobowych pracowników Firmy;</dd>
                       <dt>Umowa</dt>
                       <dd>umowa sprzedaży w rozumieniu ustawy Kodeks cywilny, zawierana pomiędzy Klientem a <b>Mentor<sup>ME</sup></b>, z wykorzystaniem środków porozumiewania się na odległość;</dd>
                       <dt>Mentor</dt>
                       <dd>osoba prawna lub fizyczna, która posiada aktywny profil Mentora w Aplikacji i na podstawie umowy świadczy usługi na rzecz <b>Mentor<sup>ME</sup></b>;</dd>
                       <dt>Mentee</dt>
                       <dd>osoba wskazana przez Klienta jako uczestnik procesu mentoringowego, posiadająca aktywny profil Mentee w Aplikacji. Wskazanie przez Klienta mentee następuje na podstawie umowy z <b>Mentor<sup>ME</sup></b>;</dd>
                       <dt>Usługi <b>Mentor<sup>ME</sup></b></dt>
                       <dd>opracowywanie i dostarczanie następujących usług:
                           <ul class="angle angle-right">
                               <div class="pdl20">
                               <li>Korzystanie z Aplikacji</li>
                               <li>Konsultacje mentoringowe z wykorzystaniem autorskiej aplikacji <b>Mentor<sup>ME</sup></b> prowadzone w formie osobistej lub na odległość przez skype lub telefon,</li>
                               <li>Realizacja mentoringowych informacji zwrotnych po badaniach indywidualnych i zespołowych (np. 360 ​​°, HOGAN),</li>
                               <li>Organizacja seminariów o tematyce mentoringowej,</li>
                               <li>Realizacja szkoleń i warsztatów dotyczących mentoringu,</li>
                               <li>Konsultacje biznesowe z wykorzystaniem technik i narzędzi mentoringowych;</li>
                               </div>
                           </ul>
                       </dd>
                       <dt>Serwis <b>Mentor<sup>ME</sup></b></dt><dd>strona internetowa umieszczona pod adresem: mentorme.com.pl, wraz ze wszystkimi podstronami i autorską aplikacją stanowiącymi jej części, przy wykorzystaniu której <b>Mentor<sup>ME</sup></b> oferuje i realizuje Klientom swoje usługi.</dd>
                       <dt>Użytkownicy Serwisu <b>Mentor<sup>ME</sup></b></dt><dd>wszystkie osoby korzystające ze strony internetowej mentorme.com.pl wraz podstronami i Aplikacją</dd>
                   </dl>
               </li>
               <li class="mt20" id="ii-postanowienia-ogolne"><h4>II. Postanowienia ogólne</h4>
            <ol class="angle angle-right">
                <div class="pdl20">
                    <li>1. Regulamin określa warunki i zasady korzystania z Serwisu <b>Mentor<sup>ME</sup></b>.</li>
                    <li>2. Właścicielem i administratorem Serwisu mentorme.com.pl jest <b>Mentor<sup>ME</sup></b>, reprezentowany przez Dariusza Michalskiego i Jarosława Czerkę.</li>
                    <li>3. Regulamin, jako wzorzec umowy w postaci elektronicznej, wiąże Użytkowników Serwisu zgodnie z art. 384 § 2 i 4 Kodeksu cywilnego.</li>
                    <li>4. <b>Mentor<sup>ME</sup></b> informuje Użytkowników Serwisu <b>Mentor<sup>ME</sup></b>, iż ze względu na publiczny charakter sieci Internet, za pośrednictwem której świadczy drogą elektroniczną usługi, korzystanie z tych usług może wiązać się z ryzykiem związanym z ingerencją osób trzecich w transmisję danych przesyłanych za jej pośrednictwem pomiędzy <b>Mentor<sup>ME</sup></b> a Użytkownikami.</li>
                    <li>5. <b>Mentor<sup>ME</sup></b> zastrzega, iż w okresie prowadzenia prac konserwacyjnych systemów teleinformatycznych, dostęp do usług świadczonych drogą elektroniczną w ramach Serwisu <b>Mentor<sup>ME</sup></b> może być utrudniony lub niemożliwy. <b>Mentor<sup>ME</sup></b> zobowiązuje się dołożyć wszelkiej możliwej staranności, aby utrudnienia takie występowały jak najrzadziej i jak najkrócej.</li>
                    <li>6. Wygląd i treść Serwisu <b>Mentor<sup>ME</sup></b> oraz wszelkie inne treści i materiały udostępniane Użytkownikom Serwisu w ramach Serwisu <b>Mentor<sup>ME</sup></b> stanowią własność <b>Mentor<sup>ME</sup></b> i są objęte ochroną wynikającą z ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych.</li>
                </div>
            </ol>
            </li>
               <li class="mt20" id="iii-warunki-korzystania"><h4>III. Warunki korzystania z Serwisu <b>Mentor<sup>ME</sup></b></h4>
                   <ol>
                       <li id="iii-warunki-techniczne" class="mt20">1. Warunki techniczne<br>
           Dla korzystania z Serwisu <b>Mentor<sup>ME</sup></b> niezbędne jest spełnianie co najmniej następujących wymogów technicznych:
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>1.1. dostęp do urządzenia umożliwiającego przeglądanie stron WWW;</li>
                                   <li>1.2. aktywne połączenie urządzenia, o którym mowa w pkt 1.1. powyżej, z siecią Internet;</li>
                                   <li>1.3. prawidłowo zainstalowany w urządzeniu, o którym mowa w pkt 1.1. powyżej, system operacyjny Microsoft w wersji Windows Vista lub nowszej;</li>
                                   <li>1.4. prawidłowo zainstalowana w urządzeniu, o którym mowa w pkt 1.1. powyżej, przeglądarka internetowa;</li>
                                   <li>1.5. włączona w używanej przez Użytkownika Serwisu przeglądarce internetowej, o której mowa w pkt 1.4. powyżej, obsługa skryptów Java Script oraz okien wyskakujących (pop-up windows);</li>
                                   <li>1.6. dodanie w poczcie elektronicznej adresów *@mentorme.com.pl jako nadawców zaufanych w celu zwiększenia pewności dostarczania Użytkownikom Serwisu korespondencji o  <b>Mentor<sup>ME</sup></b>.</li>
                                </div>
                           </ol>
                       </li>
                       <li id="iii-warunki-formalne" class="mt20">2. Warunki formalne korzystania z Aplikacji <b>Mentor<sup>ME</sup></b>
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>2.1. Z Aplikacji mogą korzystać wyłącznie zarejestrowani i zalogowani Użytkownicy z aktywnym profilem Użytkownika: np. Firma, Klient, Mentee, Mentor;</li>
                                   <li>2.2. Rejestracja odbywa się na podstawie zapisów osobnej umowy z <b>Mentor<sup>ME</sup></b>.</li>
                                   <li>2.3. Aktywacja profilu odbywa się po prawidłowym uzupełnieniu danych przez Użytkownika i akceptacji Administratora.</li>
                                </div>
                           </ol>
                       </li>
                       <li id="iii-warunki-ogolne" class="mt20">3. Warunki ogólne
                           <ol class="angle angle-right">
                                <div class="pdl20">
                                    <li>3.1. Użytkownik Serwisu zobowiązany jest podać <b>Mentor<sup>ME</sup></b> wyłącznie prawdziwe dane dotyczące jego osoby. Jest również zobowiązany do aktualizacji swoich danych każdorazowo w przypadku ich zmiany. Odpowiedzialność za ewentualne negatywne następstwa braku aktualizacji danych ponosi Użytkownik Serwisu.</li>
                                    <li>3.2. Użytkownik Serwisu zobowiązany jest chronić poufność informacji umożliwiających dostęp do jego konta w Serwisie <b>Mentor<sup>ME</sup></b>, w szczególności poprzez nieujawnianie tych informacji osobom trzecim. Użytkownik Serwisu ponosi wyłączną odpowiedzialność za szkody spowodowane udostępnieniem osobom trzecim informacji umożliwiających zalogowanie się do jego konta w Aplikacji <b>Mentor<sup>ME</sup></b> lub pozostawaniem zalogowanym do swego konta w Serwisie <b>Mentor<sup>ME</sup></b> mimo, że nie będzie z niego korzystał w danym momencie.</li>
                                    <li>3.3. Użytkownik zobowiązany jest do korzystania wyłącznie z własnego konta w Serwisie <b>Mentor<sup>ME</sup></b>, nie wolno mu także udostępniać pod jakimkolwiek tytułem swojego konta w Aplikacji <b>Mentor<sup>ME</sup></b> do używania osobom trzecim.</li>
                                    <li>3.4. Użytkownik zobowiązany jest do korzystania z Serwisu <b>Mentor<sup>ME</sup></b> wyłącznie zgodnie z Regulaminem, obowiązującymi przepisami prawa oraz dobrymi obyczajami przyjętymi dla korzystania z sieci Internet i dokonywania czynności za jej pośrednictwem. Użytkownikowi nie wolno też nadużywać środków komunikacji elektronicznej w sposób powodujący utratę stabilności pracy lub przeciążenie systemów teleinformatycznych bezpośrednio lub pośrednio zaangażowanych przy świadczeniu Usług <b>Mentor<sup>ME</sup></b>.</li>
                                    <li>3.5. Użytkownikowi w trakcie korzystania z Serwisu <b>Mentor<sup>ME</sup></b> nie wolno posługiwać się treściami o charakterze bezprawnym, w tym także naruszającymi prawa <b>Mentor<sup>ME</sup></b> lub osób trzecich, treściami obraźliwymi, wulgarnymi lub obscenicznymi, sprzecznymi z zasadami współżycia społecznego lub dobrego wychowania.</li>
                                    <li>3.6. Użytkownik może korzystać z danych pozyskanych w Serwisu <b>Mentor<sup>ME</sup></b> (w szczególności dane teleadresowe innych Użytkowników) wyłącznie w celu realizacji usług wynikających z aktualnej Umowy.</li>
                                    <li>3.7. Użytkownik nie może pobierać, przechowywać, przetwarzać, przekazywać osobom trzecim jakichkolwiek treści, w całości lub fragmentach zawartych w  Serwisie <b>Mentor<sup>ME</sup></b> poza niezbędnymi do realizacji bieżących usług wynikających z zapisów umowy, a po ich realizacji zobowiązany jest niezwłocznie trwale usunąć wszelkie pozyskane dane.  Dane pozyskane w ramach realizacji usług nie mogą być wykorzystywane do żadnych innych celów niż realizacja bieżących usług.</li>
                                </div>
                           </ol>
                       </li>
                   </ol>
               </li>
           <li class="mt20" id="iv-uslugi">IV. Usługi <b>Mentor<sup>ME</sup></b>
            <ol class="angle angle-right">
                <div class="pdl20">
                    <li id="iv-zakres-uslug" class="mt20">1. Zakres usług<br>
                        Usługi <b>Mentor<sup>ME</sup></b> obejmują:
                        <ol class="angle angle-right">
                             <div class="pdl20">
                                 <li>1.1. konsultacje mentoringowe z wykorzystaniem autorskiej aplikacji <b>Mentor<sup>ME</sup></b> prowadzone w formie osobistej lub na odległość przez skype lub telefon,</li>
                                 <li>1.2. realizacja mentoringowych informacji zwrotnych po badaniach indywidualnych i zespołowych (np. 360 ​​°, HOGAN),</li>
                                 <li>1.3. Organizacja seminariów o tematyce mentoringowej,</li>
                                 <li>1.4. Realizacja szkoleń i warsztatów dotyczących mentoringu,</li>
                                 <li>1.5. Konsultacje biznesowe z wykorzystaniem technik i narzędzi mentoringowych</li>
                                 <li>1.6. Prowadzenie konta / profilu Użytkownika Serwisie <b>Mentor<sup>ME</sup></b></li>
                             </div>
                        </ol>
                    </li>
                    <li id="iv-warunki-formalne" class="mt20">
                    Warunki formalne korzystania z Usług <b>Mentor<sup>ME</sup></b>
                        <ol class="angle angle-right">
                            <div class="pdl20">
                               <li>2.1. Liczbę, zakres, i warunki korzystania z Usług <b>Mentor<sup>ME</sup></b> określane są w osobnej umowie pomiędzy <b>Mentor<sup>ME</sup></b> a Firmą.</li>
                               <li>2.2. Do korzystania z Usług <b>Mentor<sup>ME</sup></b> uprawnieni są wyłącznie Użytkownicy posiadający podpisane osobne umowy z <b>Mentor<sup>ME</sup></b> lub osoby wskazane w umowach jako uprawnione do korzystania z określonych umową usług.</li>
                            </div>
                        </ol>
                    </li>
                </div>
            </ol>
           </li>
           <li class="mt20" id="v-polityka-prywatnosci"><h4>V. Polityka prywatności</h4>
               <ol class="angle angle-right">
                   <div class="pdl20">
                       <li>1. <b>Mentor<sup>ME</sup></b> przykłada dużą wagę do ochrony prywatności i traktuje dane Użytkowników ze starannością i uwzględnieniem zobowiązań wynikających z obowiązujących przepisów dotyczących ochrony danych osobowych, w szczególności Ogólnego Rozporządzenia o Ochronie Danych Osobowych Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz.Urz. UE L 119, s. 1) (RODO).</li>

                       <li>2. Administratorem danych osobowych, z którym można się kontaktować pisemnie na podany adres siedziby lub w sposób podany na stronie <a href="http://www.mentorme.com.pl">www.mentorme.com.pl</a>. są:
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>MCS Dariusz Michalski z siedzibą w Pruszkowie (05-800) przy ul. Kraszewskiego 33/6, wpisaną do CEIDG, o numerze NIP 534-131-20-45 i o numerze REGON 140065494;</li>
                                   <li>Trade Institute Coaching & Consulting Jarosław Czerka z siedzibą w Gdańsku (80-177) przy ul. Stolema 49/15, wpisanym do CEIDG, o numerze NIP 583-176-31-11 i o numerze REGON 220853175;</li>
                               </div>
                           </ol>
                       </li>

                       <li>3. Świadczenie usług przez <b>Mentor<sup>ME</sup></b> obejmuje następujące działania po stronie <b>Mentor<sup>ME</sup></b>: czynności administracyjne związane z realizacją Usług, za pośrednictwem środków komunikacji elektronicznej, w szczególności Aplikacji <b>Mentor<sup>ME</sup></b>, rozpatrywanie reklamacji, kontrolę jakości usług, marketing własnych usług.</li>

                       <li>4. <b>Mentor<sup>ME</sup></b> przetwarza dane osobowe (imię, nazwisko, dane adresowe, telefoniczne, mailowe), oraz dane zebrane w związku z odwiedzaniem przez Użytkownika strony <a href="http://www.mentorme.com.pl">www.mentorme.com.pl</a>.</li>

                       <li>5. Podanie danych jest dobrowolne, ale w pewnym zakresie niezbędne do realizacji usług określonych w osobnych umowach pomiędzy Firmą a <b>Mentor<sup>ME</sup></b>, jak również może wynikać z przepisów prawa – brak podania danych uniemożliwi realizację usług, z za co <b>Mentor<sup>ME</sup></b> nie ponosi wówczas odpowiedzialności.</li>

                       <li>6.  Dane osobowe będą przetwarzane przez <b>Mentor<sup>ME</sup></b> w celu:
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>6.1. realizacji Usług <b>Mentor<sup>ME</sup></b>, na podstawie osobnej umowy określającej zakres i warunki realizacji Usług – przez okres określony w umowie;</li>
                                   <li>6.2. założenia profilu w Aplikacji <b>Mentor<sup>ME</sup></b></li>
                                   <li>6.3. wyboru odpowiedniego Mentora;</li>
                                   <li>6.4. umożliwienia komunikacji pomiędzy Mentee i Mentorem</li>
                                   <li>6.5. umożliwienia komunikacji pomiędzy Użytkownikami i <b>Mentor<sup>ME</sup></b></li>
                                   <li>6.6. marketingu Usług <b>Mentor<sup>ME</sup></b>, na podstawie uzasadnionego interesu administratora danych – do czasu wyrażenia przez Użytkownika sprzeciwu wobec przetwarzania danych osobowych w tym celu, a po zrealizowaniu usług wynikających z Umowy, na podstawie wyrażonej zgody – do czasu cofnięcia zgody. Uzasadnionym interesem jest prowadzenie przez <b>Mentor<sup>ME</sup></b> marketingu bezpośredniego swoich usług. W tym celu przetwarzane będą dane w zakresie: imię, nazwisko, dane kontaktowe.</li>
                                   <li>6.7. rachunkowym, na podstawie przepisów o rachunkowości – przez 5 lat od początku roku następującego po roku obrotowym, w którym płatność związana ze zrealizowaną usługą wynikającą z Umową została ostatecznie spłacona, rozliczona lub przedawniona;</li>
                                   <li>6.8. ewentualnej windykacji i dochodzenia roszczeń oraz obrony praw <b>Mentor<sup>ME</sup></b> w postępowaniu karnym, na podstawie prawnie usprawiedliwionego interesu <b>Mentor<sup>ME</sup></b> – do czasu upływu okresów przedawnienia roszczeń, zgodnie z obwiązującymi przepisami prawa. Prawnie uzasadnionym interesem jest możliwość dochodzenia roszczeń przez <b>Mentor<sup>ME</sup></b>.</li>
                               </div>
                           </ol>
                       </li>
                       <li>7. Użytkownikowi przysługuje prawo do żądania:
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>7.1. dostępu do swoich danych; realizując to prawo Klient jest uprawniony do uzyskania od <b>Mentor<sup>ME</sup></b> potwierdzenia, czy przetwarzane są jego dane osobowe; uzyskania ich kopii oraz do uzyskania informacji m.in. o: celach przetwarzania, kategoriach danych osobowych, kategoriach odbiorców, którym dane osobowe zostały lub zostaną ujawnione, planowanym okresie przechowywania danych osobowych, źródle ich pozyskania przez <b>Mentor<sup>ME</sup></b>.</li>
                                   <li>7.2. sprostowania jego danych; realizując to prawo Użytkownik jest uprawniony do żądania od <b>Mentor<sup>ME</sup></b> sprostowania lub uzupełnienia dotyczących go danych osobowych, które są nieprawidłowe lub niekompletne.</li>
                                   <li>7.3. usunięcia jego danych; realizując to prawo Użytkownik jest uprawniony do żądania od <b>Mentor<sup>ME</sup></b> usunięcia dotyczących go danych osobowych, w przypadkach wskazanych w art. 17 RODO, w szczególności w przypadku, gdy dane osobowe nie są już niezbędne do celów, w których zostały zebrane lub złożony został skuteczny sprzeciw wobec przetwarzania danych osobowych.</li>
                                   <li>7.4. ograniczenia przetwarzania jego danych; jeśli Użytkownik ma zastrzeżenia co do prawidłowości jego danych; jeśli uważa, że <b>Mentor<sup>ME</sup></b> nie powinien przetwarzać jego danych, ale jednocześnie nie chce, aby je usunął; jeśli takie dane osobowe nie są już potrzebne <b>Mentor<sup>ME</sup></b>, natomiast Użytkownik potrzebuje ich w związku z dochodzeniem roszczeń; jeśli Użytkownik wyraził sprzeciw wobec przetwarzania jego danych, a obowiązkiem <b>Mentor<sup>ME</sup></b> jest sprawdzenie, czy powinien je dalej przetwarzać.</li>
                                   <li>7.5. przenoszenia swoich danych; realizując to prawo Użytkownik jest uprawniony do uzyskania od <b>Mentor<sup>ME</sup></b> w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego jego danych osobowych, które dostarczył <b>Mentor<sup>ME</sup></b>, ma prawo również zażądać, aby <b>Mentor<sup>ME</sup></b> przesłał innemu administratorowi jego dane osobowe, o ile jest to technicznie możliwe. Powyższe uprawnienie dotyczy wyłącznie danych osobowych, które <b>Mentor<sup>ME</sup></b> przetwarza na podstawie zgody lub na podstawie zawartej Umowy (realizowanych usług).</li>
                                   <li>7.6. wniesienia sprzeciwu z przyczyn związanych ze szczególną sytuacją wobec przetwarzania danych osobowych na podstawie prawnie uzasadnionych interesów realizowanych przez <b>Mentor<sup>ME</sup></b>, oraz do wniesienia sprzeciwu wobec przetwarzania danych osobowych na potrzeby marketingu bezpośredniego przez <b>Mentor<sup>ME</sup></b>; realizując to prawo Użytkownik jest uprawniony do wniesienia, z przyczyn związanych ze szczególną sytuacją, sprzeciwu wobec przetwarzania danych osobowych Użytkownika na podstawie prawnie uzasadnionych interesów realizowanych przez <b>Mentor<sup>ME</sup></b>. Jednak pomimo sprzeciwu, <b>Mentor<sup>ME</sup></b> jest uprawniony w dalszym ciągu przetwarzać te dane osobowe, jeżeli wykaże istnienie ważnych, prawnie uzasadnionych podstaw do przetwarzania, nadrzędnych wobec interesów, praw i wolności osoby, której dane dotyczą, lub podstaw do ustalenia, dochodzenia lub obrony roszczeń.</li>
                                   <li>7.7. cofnięcia zgody w dowolnym momencie. Cofnięecie zgody pozostaje bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.</li>
                                   <li>7.8. wniesienia skargi do Organu Nadzoru w zakresie danych osobowych – Prezesa Urzędu Ochrony Danych Osobowych (PUODO).</li>
                               </div>
                           </ol>
                       </li>
                       <li>8. Dane mogą być przekazywane podmiotom przetwarzającym dane osobowe na zlecenie administratora, m.in., podmiotom z którymi <b>Mentor<sup>ME</sup></b> współpracuje w zakresie realizacji Usług (np.  mentorom <b>Mentor<sup>ME</sup></b>), dostawcom usług IT mającym siedzibę w Polsce, dostawcom usług archiwizacji dokumentacji, podmiotom przetwarzającym dane w celu windykacji należności, kancelariom prawnym świadczącym wsparcie prawne, agencjom marketingowym, biurom rachunkowym – przy czym takie podmioty przetwarzają dane na podstawie umowy z administratorem i wyłącznie zgodnie z poleceniami administratora.</li>
                   </div>
               </ol>
           </li>
               <li class="mt20" id="vi-zablokowanie-konta"><h4>VI. Zablokowanie lub usunięcie konta / profilu w Serwisie <b>Mentor<sup>ME</sup></b></h4>
                   <ol class="angle angle-right">
                       <div class="pdl20">
                       <li class="mt20">Zablokowanie konta / profilu w Serwisie <b>Mentor<sup>ME</sup></b>
                           <ol class="angle angle-right">
                               <div class="pdl20">
                               <li>1.1. <b>Mentor<sup>ME</sup></b> może zablokować konto / profil Użytkownika w Serwisie <b>Mentor<sup>ME</sup></b> w przypadku, gdy Użytkownik pomimo upomnienia narusza postanowienia Regulaminu.</li>
                               <li>1.2. Zablokowanie przez <b>Mentor<sup>ME</sup></b> konta / profilu Użytkownika w Serwisie <b>Mentor<sup>ME</sup></b>, zgodnie z Regulaminem, spowoduje czasową utratę przez Użytkownika z możliwości korzystania z Usług <b>Mentor<sup>ME</sup></b> lub/i realizacji postanowień umowy o współpracy.</li>
                               <li>1.3. Zablokowanie przez <b>Mentor<sup>ME</sup></b> konta / profilu Użytkownika w Serwisie <b>Mentor<sup>ME</sup></b>, zgodnie z Regulaminem, powoduje przerwanie realizacji Usług <b>Mentor<sup>ME</sup></b>, za co <b>Mentor<sup>ME</sup></b> nie ponosi odpowiedzialności.</li>
                               </div>
                           </ol>
                       </li>
                       <li class="mt20">Usunięcie konta  / profilu z Serwisu <b>Mentor<sup>ME</sup></b>
                           <ol class="angle angle-right">
                               <div class="pdl20">
                                   <li>2.1. Użytkownik może w każdym czasie zwrócić się, w formie mailowej na adres  kontakt@mentorme.com.pl, z prośbą o usunięcie własnego konta / profilu z Serwisu <b>Mentor<sup>ME</sup></b>. <b>Mentor<sup>ME</sup></b> zobowiązuje się do usunięcia konta/ profilu w ciągu pięciu dni roboczych od zarejestrowania prośby.</li>
                                   <li>2.2. <b>Mentor<sup>ME</sup></b> może także usunąć konto / profil Użytkownika z Serwisu <b>Mentor<sup>ME</sup></b> w przypadku, gdy Użytkownik:
                                   <ol class="angle angle-right">
                                       <div class="pdl20">
                                        <li>2.2.1. pomimo upomnienia, rażąco narusza Regulamin;</li>
                                        <li>2.2.2. Użytkownik nie korzystał z Serwisu <b>Mentor<sup>ME</sup></b> w okresie ostatnich 3 (trzech) lat po wygaśnięciu umowy na podstawie której realizowane były ostatnie usługi.</li>
                                       </div>
                                    </ol>
                                    </li>
                                   <li>2.3. Usunięcie konta / profilu Użytkownika z Serwisu <b>Mentor<sup>ME</sup></b> powoduje bezpowrotną utratę wszelkich informacji zgromadzonych tam przez Użytkownika.</li>
                               </div>
                           </ol>
                           </li>
                       </div>
                   </ol>
           </li>
               <li class="mt20" id="vii-reklamacje"><h4>VII. Reklamacje</h4>
                   <ul class="angle angle-right">
                       <div class="pdl20">
                       <li>Reklamacje składane w związku z korzystaniem przez Użytkownika z Usług Serwisu <b>Mentor<sup>ME</sup></b>, mogą być składane za pośrednictwem poczty elektronicznej na adres: kontakt@mentorme.com.pl;</li>
                       <li>Reklamacja powinna zawierać imię, nazwisko i adres e-mail Użytkownika składającego reklamację, datę realizacji i rodzaj usługi, której dotyczy reklamacja.</li>
                       <li>Reklamacja zostanie rozpatrzona w terminie 14 dni od dnia jej otrzymania, a zgłaszający ją Użytkownik zostanie poinformowany o zajętym przez <b>Mentor<sup>ME</sup></b> stanowisku wiadomością e-mail przesłaną na wskazany przez Użytkownika adres poczty elektronicznej jako do korespondencji w składanej reklamacji w związku z Usługami <b>Mentor<sup>ME</sup></b>.</li>
                       </div>
                   </ul>
               </li>
               <li class="mt20" id="viii-postanowienia-koncowe"><h4>VIII. Postanowienia końcowe</h4>
                <ul class="angle angle-right">
                <div class="pdl20">
                <li><b>Mentor<sup>ME</sup></b> zastrzega sobie prawo dokonywania zmian w Regulaminie z ważnych powodów związanych ze zmianą:
                   <ul class="angle angle-right">
                       <div class="pdl20">
                       <li>1.1. warunków świadczenia Usług <b>Mentor<sup>ME</sup></b> oraz oferty <b>Mentor<sup>ME</sup></b>;</li>
                       <li>1.2. warunków korzystania z Usług <b>Mentor<sup>ME</sup></b>;</li>
                       <li>1.3. funkcjonalności Serwisu <b>Mentor<sup>ME</sup></b>;</li>
                       <li>1.4. obowiązujących przepisów prawa.</li>
                       </div>
                   </ul></li>
                    <li>Zmiany Regulaminu zaczynają obowiązywać w momencie ich publikacji w Serwisie <b>Mentor<sup>ME</sup></b>.</li>
                    <li>W sprawach nieuregulowanych w Regulaminie mają zastosowanie przepisy prawa polskiego.</li>
                    <li>Jeżeli którekolwiek z postanowień Regulaminu okaże się lub uznane zostanie prawomocnym orzeczeniem sądu za nieważne, wszystkie pozostałe postanowienia Regulaminu pozostają w mocy.</li>
                </div>
               </ul>
             </li>
           </ol>
           Gdańsk, 26 lipca 2018 r.
            </div>
        </div>
    </div>
</section>
{% endblock %}
