{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block avanzu_login_form %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}

{% block avanzu_login_box_msg %}{% endblock %}
{% block avanzu_login_actions %}{% endblock %}
{% block avanzu_login_social_auth %}{% endblock %}