{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}



{% block avanzu_login_form %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock %}

{% block avanzu_login_box_msg %}{% endblock %}
{% block avanzu_login_actions %}{% endblock %}
{% block avanzu_login_social_auth %}{% endblock %}
