{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="form-control" />
    </div>
    <div style="margin-top: 10px">
        <button type="submit" class="btn btn-primary btn-block btn-flat" id="_submit" name="_submit">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>