{% extends 'email.html.twig' %}

{% block body_html %}
{% autoescape false %}
{{ 'registration.message.mentee.by.client'|trans({'%username%': user.fullName, '%email%': user.email, '%password%': user.plainPassword, '%confirmationUrl%': confirmationUrl, '%infoUrl%': infoUrl, '%termsUrl%': termsUrl, '%privacyUrl%': privacyUrl, '%menagerName%': manager, '%managerRole%': managerRole}) }}
{{ 'email.terms'|trans }}
{% endautoescape %}
{% endblock %}