{% extends 'email.html.twig' %}

{% block body_html %}
{% autoescape false %}
{{ 'registration.message.client.by.admin'|trans({'%username%': user.fullName, '%email%': user.email, '%password%': user.plainPassword, '%confirmationUrl%': confirmationUrl, '%termsUrl%': termsUrl, '%privacyUrl%': privacyUrl}) }}
{{ 'email.terms'|trans }}
{% endautoescape %}
{% endblock %}