<!-- User Account: style can be found in dropdown.less -->
{# @var links \Avanzu\AdminThemeBundle\Model\NavBarUserLink[] #}
{# @var showProfileLink bool #}
{# @var showLogoutLink bool #}
{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(user.avatar, user.username, 'user-image') }}
        <span class="hidden-xs">{{ user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(user.avatar, user.username) }}
            <p>
                {{ user.name }}
            </p>
        </li>
        {% if links %}
            <!-- Menu Body -->
            <li class="user-body">
                {% for link in links %}
                    <div class="col-xs-4 text-center">
                        <a href="{{ path(link.path, link.parameters) }}">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
        {% if showLogoutLink or showProfileLink %}
            <!-- Menu Footer-->
            <li class="user-footer">
                {% if showProfileLink %}
                    <div class="pull-left">
                        <a href="{{ path('profile', {'ident' : user.identifier}) }}"
                           class="btn btn-info btn-flat">{{ 'Profile'|trans({}, 'AvanzuAdminTheme') }}</a>
                    </div>
                {% endif %}
                {% if showLogoutLink %}
                    <div class="pull-right">
                        <a href="{{ logout_path() }}"
                           class="btn btn-info btn-flat">{{ 'Sign out'|trans({}, 'AvanzuAdminTheme') }}</a>
                    </div>
                {% endif %}
            </li>
        {% endif %}
    </ul>
</li>
