{% extends 'landing.html.twig' %}
{% block page_content %}
<header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive"><img src="{{ asset('img/logo-kontra.png') }}" class="col-lg-12"></h1>
                <hr>
            </div>
        </div>
        <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </header>
    <section class="bg-primary" id="opis">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <p class="text-faded">
                      <p class="text-left"><img src="{{ asset('img/mentor01.jpg') }}" style="width: 150px; height: 120px; float: left; margin-right: 10px;">MENTORME to jedyna w Polsce platforma umożliwiająca bezpośredni i wygodny dostęp do mentoringu prowadzonego przez praktyków, doświadczonych menedżerów, którzy nadal działają w biznesie lub postanowili już się z niego wycofać i chętnie podzielą się swoimi sposobami na sukces.</p>
                      <p class="clearfix text-left"><img src="{{ asset('img/mentor02.jpg') }}" style="width: 150px; height: 120px; float: right; margin-left: 10px;">W gronie naszych współpracowników mamy również certyfikowanych mentorów i coachów, którzy sami przez wiele lat pracowali jako menedżerowie. Oferujemy mentoring dla wszystkich poziomów menedżerskich i&nbsp;kierowniczych.</p>
                      <p class="clearfix text-left"><img src="{{ asset('img/mentor03.jpg') }}" style="width: 150px; height: 120px; float: left; margin-right: 10px;">Wystarczy kliknąć i wszystko ustalić bezpośrednio z uprzednio wybranym przez siebie mentorem. Mentoring odbywa się face to face albo za pomocą skypa/telefonu.</p>
                      <p class="clearfix text-left"><img src="{{ asset('img/mentor04.png') }}" style="width: 150px; height: 120px; float: right; margin-left: 10px;">Cały proces wyboru mentora, umawiania się i bieżącej komunikacji odbywa się za pomocą nowoczesnego narzędzia jakim jest platforma MENTORME</p>
                      <p class="clearfix text-left"><img src="{{ asset('img/mentor05.jpg') }}" style="width: 150px; height: 120px; float: left; margin-right: 10px;">Menedżerowie HR-u odpowiedzialni za mentoring w organizacjach  zyskują dzięki MENTORME pełną kontrolę nad logistyką procesów mentoringowych, ich zaawansowaniem w czasie oraz weryfikacją stopnia realizacji uzgodnionych celów. Platforma umożliwia również generowanie różnego rodzaju raportów, wspierających sprawne i efektywne zarządzanie mentoringiem w firmie.</p>
                      <p class="clearfix text-left"><img src="{{ asset('img/mentor06.jpg') }}" style="width: 150px; height: 120px; float: right; margin-left: 10px;">MENTORME zapewnia menedżerom dostęp do dowolnie wybranego przez siebie mentora niezależnie od dzielącej ich odległości. MENTORME pozwala więc  na efektywne, od strony czasowej i finansowej, prowadzenie  procesów rozwojowych w sytuacji  rozproszenia geograficznego&nbsp;pracowników.</p>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="two">
        <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <h2 class="text-center text-primary">4 filary Twojego sukcesu z MENTORME</h2>
                        <hr>
                        <div class="media wow fadeInRight">
                            <div class="media-body media-middle">
                                <p>Najwyższa na polskim rynku jakość naszego zespoły mentorów-praktyków</p>
                            </div>
                            <div class="media-right">
                                <i class="icon-lg ion-android-contacts"></i>
                            </div>
                        </div>
                        <hr>
                        <div class="media wow fadeIn">
                            <div class="media-left">
                                <i class="icon-lg ion-arrow-graph-up-right"></i>
                            </div>
                            <div class="media-body media-middle">
                                <p>Skuteczność mentoringu, jako metody rozwoju i realizacji Twoich celów</p>
                            </div>
                        </div>
                        <hr>
                        <div class="media wow fadeInRight">
                            <div class="media-body media-middle">
                                <p>Unikalny know-how  autorskiej aplikacji i praktyczne podejście.</p>
                            </div>
                            <div class="media-right">
                                <i class="icon-lg ion-compose"></i>
                            </div>
                        </div>
                        <hr>
                        <div class="media wow fadeIn">
                            <div class="media-left">
                                <i class="icon-lg ion-ribbon-a"></i>
                            </div>
                            <div class="media-body media-middle">
                                <p>Wieloletnie doświadczenia zarówno z pracy  dla międzynarodowych korporacji, jak i rozwoju menedżerów wielu organizacji gwarantuje naszą wiarygodność</p>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <section id="three">
        <div id="carousel-front" class="carousel slide col-lg-6 col-md-6 col-lg-offset-3" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-front" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-front" data-slide-to="1"></li>
            <li data-target="#carousel-front" data-slide-to="2"></li>
            <li data-target="#carousel-front" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ asset('img/slider01.jpg') }}" alt="" style="height: 580px">
              <div class="carousel-caption">
                <h3>Działaj ze sprawdzonymi partnerami</h3>
              </div>
            </div>
              <div class="item">
                <img src="{{ asset('img/slider02.jpg') }}" alt="" style="height: 580px">
                <div class="carousel-caption">
                  <h3>Pokonuj bieżące wyzwania</h3>
                </div>
              </div>
              <div class="item">
                <img src="{{ asset('img/slider03.jpg') }}" alt=""style="height: 580px">
                <div class="carousel-caption">
                  <h3>Zdobywaj kolejne szczyty z najlepszymi</h3>
                </div>
              </div>
              <div class="item">
                <img src="{{ asset('img/slider05.jpg') }}" alt=""style="height: 580px">
                <div class="carousel-caption">
                  <h3>Zyskaj nową perspektywę i osiągnij swój cel</h3>
                </div>
              </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-front" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-front" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </section>
    <section id="jak-to-dziala">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Jak to działa?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-person wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Dla Firmy / HR</h3>
                        <ul class="text-left" style="list-style-type: none;">
                        <li class="clearfix text-muted"><img src="{{ asset('img/works01.png') }}" style="width: 50px; height: 50px; margin: 0 10px 10px 0;">Firma decyduje o zakupie pakietu sesji </li>
                        <li class="clearfix text-muted"><img src="{{ asset('img/works02.png') }}" style="width: 50px; height: 50px; margin: 0 10px 10px 0;">Alokuje sesje do poszczególnych menedżerów</li>
                        <li class="clearfix text-muted"><img src="{{ asset('img/works07.png') }}" style="width: 50px; height: 50px; margin: 0 10px 10px 0; float:left;">Korzystając z aplikacji, HR na bieżąco monitoruje postępy poszczególnych procesów, generuje zestawienia i raporty</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-people wow fadeInUp" data-wow-delay=".2s"></i>
                        <h3>Dla menedżera / mentee</h3>
                        <ul class="text-left" style="list-style-type: none;">
                        <li class="clearfix text-muted"><img src="{{ asset('img/works03.png') }}" style="float:left; width: 50px; height: 50px; margin: 0 10px 10px 0;">Razem z firmą decydujesz o użyciu mentoringu jako narzędzia rozwojowego.</li>
                        <li class="clearfix text-muted"><img src="{{ asset('img/works04.png') }}" style="float:left; width: 50px; height: 50px; margin: 0 10px 10px 0;">Identyfikujesz swoje obszary rozwojowe. </li>
                        <li class="clearfix text-muted"><img src="{{ asset('img/works05.png') }}" style="float:left; width: 50px; height: 50px; margin: 0 10px 15px 0;">Logujesz się do platformy MentorMe, wybierasz mentora i umawiasz się  z nim bezpośrednio dzięki dostępowi do jego kalendarza.</li>
                        <li class="clearfix text-muted"><img src="{{ asset('img/works06.png') }}" style="float:left; width: 50px; height: 50px; margin: 0 10px 10px 0;">Sesje odbywają się za pomocą skypa, telefonu  lub bezpośrednio, w najdogodniejszym dla ciebie miejscu i czasie</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#
    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/deer.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/deer.jpg') }}" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/beach.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/beach.jpg') }}" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/lake.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/lake.jpg') }}" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/bike.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/bike.jpg') }}" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/city.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/city.jpg') }}" class="img-responsive" alt="Image 5">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('theme/lzt/assets/colors.jpg') }}">
                        <img src="{{ asset('theme/lzt/assets/colors.jpg') }}" class="img-responsive" alt="Image 6">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>#}
    <section id="kontakt">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Skontaktuj się z nami</h2>
                    <hr class="primary">
                    <p>Napisz do nas by zacząć korzystać z naszego rozwiązania</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    {{ form_start(form) }}
                        <div class="col-md-4">
                            <label></label>
                            {{ form_widget(form.name) }}
                            
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            {{ form_widget(form.telephone) }}
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            {{ form_widget(form.message) }}
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <div class="g-recaptcha" data-sitekey="6LfsnGEUAAAAAF5aYIARosqH2r-WnKGhBMZHu_wL"></div>
                            
                            <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-top: 10px">Wyślij <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}