{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
		<div class="box-header with-border">
		  <i class="fa fa-search"></i> <h3 class="box-title">{{ 'mentor.edit.hours'|trans }}</h3>
		</div>
		<div class="box-body no-padding">
        <div id="calendar"></div>
      </div>
      <div id="calendar-overlay" class="overlay" style="display: none;">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block avanzu_head %}
  {% if user.entityType == 'user_mentor' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css" media="print">
  {% endif %}
{% endblock %}

{% block avanzu_javascripts %}
  {% if user.entityType == 'user_mentor' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/locale/pl.js"></script>
 {% endif %}
{% endblock %}

{% block avanzu_javascripts_inline %}
	  <script>
	  $(function () {
	    /* initialize the calendar
	     -----------------------------------------------------------------*/
	    //Date for the calendar events (dummy data)
	    var date = new Date();
	    var d = date.getDate(),
	        m = date.getMonth(),
	        y = date.getFullYear();
	    $('#calendar').fullCalendar({
	      validRange: function(nowDate) {
            return {
              start: nowDate.clone().subtract(1, 'week')
		    };
		  },
	      defaultView: 'agendaWeek',
	      eventSources: [
            {
              url: '{{ path('mentor_business_all') }}',
              data: {
                mentorId: {{ user.id }}
              }
            }
	      ],
	      loading: function (bool) {
	        $('#calendar').fullCalendar('removeEvents');
	        $('#calendar-overlay').show();
          },
          eventAfterAllRender: function (view) {
            $('#calendar-overlay').hide();
          },
	      slotDuration: '00:15:00',
	      nowIndicator: true,
	      minTime: '08:00:00',
	      maxTime: '23:00:00',
	      defaultTimedEventDuration: '01:30:00',
	      eventOverlap: false,
	      businessHours: {
	        dow: [1,2,3,4,5],
	        start: "8:00",
	        end: "23:00"
	      },
	      editable: true,
	      droppable: true,
	      eventDurationEditable: true,
	      forceEventDuration: true,
	      allDaySlot: false,
	      weekends: false,
	      slotLabelFormat: 'H:mm',
	      selectConstraint: "businessHours",
	      eventConstraint: "businessHours",
	      selectOverlap: false,
	      header: {
	        left: 'prev,next today',
	        center: 'title',
	        right: 'agendaWeek,agendaDay'
	      },
	      eventRender: function( event, element, view ) {
 			  var title = element.find( '.fc-title' );
			  title.html( title.text() );
			  element.find(".cal-del-link").click(function(e) {
				  $('#calendar-overlay').show();
			      e.preventDefault();
			      deleteEvent(event);
				  $('#calendar-overlay').hide();
			  });
		  },
		  eventDrop: function (event, delta, revertFunc) {
		    changeEventDate(event, revertFunc);
		  },
		  eventResize: function (event, delta, revertFunc) {
		    changeEventDate(event, revertFunc);
		  },
	      dayClick: function (date, jsEvent, view) {
              if (date < new Date()) {
                  return;
              }
              var calendar = $('#calendar').fullCalendar('getCalendar');
              var m = calendar.moment(date);
              var endDate = m.add(1.5, 'hour')
              if (IsDateHasEvent(date, endDate)) {
                  return;
              }
			  $('#calendar-overlay').show();
			  $.ajax({
                method: "POST",
                url: "{{ path('mentor_buisness_create') }}",
                data: {
                  start: date.format(),
                  end: endDate.format()
				}
              }).success(function (data) {
				   eventData = {
					   id: data.id,
					   title: data.title,
					   start: data.start.date,
					   end: data.end.date,
					   stick: true,
					   allDay: false,
					   backgroundColor: '#92E88E',
					   overlap: false
				 };
			     $('#calendar').fullCalendar('renderEvent', eventData, true);
			  });
			  $('#calendar-overlay').hide();
	       }
	    });
	  });
	  function deleteEvent(event) {
	      $.ajax({
			  method: "GET",
			  url: "{{ path('mentor_business_delete') }}/" + event.id,
		  })
			  .fail(function(data){
			      return;
		  })
			  .success(function(data) {
			  $('#calendar').fullCalendar('removeEvents',event._id);
		  });
	  }

	  function changeEventDate(event, revertFunc) {
	    if (!event.id) {
	      revertFunc();
	      return;
	    }
	    if (!confirm("{{ 'calendar.change.time_confirm'|trans }}")) {
          revertFunc();
          return;
        }
        $('#calendar-overlay').show();
	    $.ajax({
	      method: "POST",
	      url: "{{ path("mentor_business_change") }}/" + event.id,
	      data: {
	        startDate: event.start.format(),
	        endDate: event.end.format()
	      }
		 })
		 .fail(function(data) {
             revertFunc();
		 })
		 .success(function (data) {
	        $('#calendar').fullCalendar('refetchEvents');
		 });
	     $('#calendar-overlay').hide();
	  }
	  
	  function IsDateHasEvent(date, dateEnd) {
	    var allEvents = [];
	    // add your calendar events into the array. 
	    allEvents = $('#calendar').fullCalendar('clientEvents');
	    var event = $.grep(allEvents, function (v) {
	        return +v.start === +date;
	    });
	    var eventEnd = $.grep(allEvents, function(v) {
	    	return ((+v.end >= +dateEnd) && (+dateEnd >= +v.start)) || ((+v.end >= +date) && (+date >= +v.start));
	    });
	    return event.length > 0 || eventEnd.length > 0;
	  }
	</script>
{% endblock %}