{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form with ['MentorBundle:forms:form_layouts.html.twig', 'bootstrap_3_horizontal_layout.html.twig'] %}


{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info  collapsed-box">
    <form method="get" action="." class="form-horizontal">
    <div class="box-header with-border">
      <i class="fa fa-search"></i> <h3 class="box-title">{{ 'form.filter.title'|trans }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
    </div>
    <div class="box-body">
    {% for subform in form.mentee %}
      {{ form_widget(subform) }}
    {% endfor %}
    
    {% for subform in form.company %}
      {{ form_widget(subform) }}
    {% endfor %}
    {{ form_rest(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'search.mentor.submit'|trans }}</button>
      </div>
    </div>
</form>
</div>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{ 'mentor.mine.sessions'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>{{ knp_pagination_sortable(pagination, 'Id', 'e.id') }}
                  {% if pagination.isSorted('e.id') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}
                  </th>                  
                  <th>{{ 'Mentee'|trans }}</th>
                  <th>{{ 'Company'|trans }}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'e.status') }}
                  {% if pagination.isSorted('e.status') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Start Date'|trans, 'e.startDate') }}
                  {% if pagination.isSorted('e.startDate') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'End Date'|trans, 'e.endDate') }}
                  {% if pagination.isSorted('e.endDate') %}<i class="fa fa-sort-alpha-{{ pagination.direction }}"></i>{% endif %}</th>
                </tr>
               {% for session in pagination %}
                <tr>
                  <td>{{ session.id }}</td>
                  <td>{{ session.process.mentee.fullName }}</td>
                  <td>{{ session.process.mentee.company.companyName }}</td>
                  <td>{{ session.statusText|trans }}</td>
                  <td>{{ session.startDate|date('Y-m-d H:i:s') }}</td>
                  <td>{{ session.endDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                {% endfor %} 
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}

{% block avanzu_head %}
<link rel="stylesheet" href="{{ asset('theme/plugins/datepicker/datepicker3.css') }}">
{% endblock %}

{% block avanzu_javascripts_inline%}
<script src="{{ asset('theme/plugins/datepicker/bootstrap-datepicker.js') }}"></script>

<script>
$.fn.datepicker.dates['pl'] = {
                days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
                daysShort: ["Nie", "Pn", "Wt", "Śr", "Czw", "Pt", "So", "Nie"],
                daysMin: ["N", "Pn", "Wt", "Śr", "Cz", "Pt", "So", "N"],
                months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
                monthsShort: ["Sty", "Lu", "Mar", "Kw", "Maj", "Cze", "Lip", "Sie", "Wrz", "Pa", "Lis", "Gru"],
                today: "Dzisiaj",
                clear: "Wyczyść",
                weekStart: 1
        };
$(".js-datepicker").datepicker({
format: 'yyyy-mm-dd',
todayBtn: true,
todayHighlight: true,
clearBtn: true,
language: 'pl'

});
</script>
{% endblock %}