{% extends 'blank.html.twig' %}
{% block avanzu_page_content %}
<style>
 .harmonogram {
   border-collapse: collapse;
 }
 .harmonogram,
 .harmonogram > th,
 .harmonogram > td {
   padding: 3px 5px;
   border: 1px solid black;
 }
</style>

{% if filters is not empty %}
<div>
    Podsumowanie sesji za okres:
    {% if filters.startDate is not empty %} od {{ filters.startDate }}{% endif %}
    {% if filters.endDate is not empty %} do {{ filters.endDate }}{% endif %}<br><br>
</div>
{% endif %}
<table class="table table-hover harmonogram">
    <tbody><tr>
      <th style="width: 45px;">Id</th>
      <th style="width: 155px;">{{ 'Mentee'|trans }}</th>
      <th>{{ 'Company'|trans }}</th>
      <th>{{ 'Status'|trans }}</th>
      <th style="width: 95px;">{{ 'Start Date'|trans }}</th>
      <th style="width: 95px;">{{ 'End Date'|trans }}</th>
      <th style="width: 35px;">{{ 'Sessions'|trans }}</th>
      <th style="width: 65px;">{{ 'Sessions realized'|trans }}</th>
      <th style="width: 65px;">{{ 'Sessions planned'|trans }}</th>
      <th style="width: 65px;">{{ 'Sessions left'|trans }}</th>
    </tr>
    {% set sessionsTotal = 0 %}
    {% set sessionsRealizedTotal = 0 %}
    {% set sessionsPlannedTotal = 0 %}
    {% set sessionsLeftTotal = 0 %}
   {% for process in pagination %}
    {% set sessionsTotal = sessionsTotal + process.sessions %}
    {% set sessionsRealizedTotal = sessionsRealizedTotal + process.sessionsRealized %}
    {% set sessionsPlannedTotal = sessionsPlannedTotal + process.sessionsPlanned %}
    {% set sessionsLeftTotal = sessionsLeftTotal + process.sessionsLeft %}
    <tr>
      <td>{{ process.id }}</td>
      <td>{{ process.mentee.fullName }}</td>
      <td>{{ process.mentee.company.companyName }}</td>
      <td>{{ process.statusText|trans }}</td>
      <td>{{ process.startDate|date('Y-m-d H:i:s') }}</td>
      <td>{{ process.endDate|date('Y-m-d H:i:s') }}</td>
      <td>{{ process.sessions }}</td>
      <td>{{ process.sessionsRealized }}</td>
      <td>{{ process.sessionsPlanned }}</td>
      <td>{{ process.sessionsLeft }}</td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr>
    <th colspan="6" style="text-align: right;">{{ 'table.rows.total'|trans }}:</th>
    <th>{{ sessionsTotal }}</th>
    <th>{{ sessionsRealizedTotal }}</th>
    <th>{{ sessionsPlannedTotal }}</th>
    <th>{{ sessionsLeftTotal }}</th>
    </tr>
    </tfoot>
  </tbody></table>
{% endblock %}