{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    <form method="get" action="." class="form-horizontal">
    <div class="box-header with-border">
      <i class="fa fa-search"></i> <h3 class="box-title">{{ 'search.mentor.name'|trans }}</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
		{% for subform in form.industries %}
		  {{ form_widget(subform) }}
		{% endfor %}
		{% for subform in form.specializations %}
		     {{ form_widget(subform) }}
		{% endfor %}
		{{ form_row(form.name) }}
		{{ form_row(form.surname) }}
		{{ form_row(form.trenerExperience) }}
    
    {{ form_rest(form) }}
    </div>
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-info pull-right" type="submit" >{{ 'search.mentor.submit'|trans }}</button>
      </div>
    </div>
</form>
</div>
{% if pagination.getTotalItemCount > 0 %}
  {{ knp_pagination_render(pagination) }}
  <h2 class="page-header">{{ 'search.mentor.results'|trans }}: {{ pagination.getTotalItemCount }}</h2>
  {% for user in pagination %}
	{% if loop.index%3 == 0 or loop.first %}
	<div class="row">
	{% endif %}
	  <div class="col-md-4">
	      <!-- Widget: user widget style 1 -->
	      <div class="box box-widget widget-user-2">
	        <a href="{{ path('user_profile_view', {'id': user.id }) }}"><div class="widget-user-header bg-blue">
	          <div class="widget-user-image">
	            {% if user.profilePic %}
	            <img class="img-circle" src="{{ asset(image_profile_pic_path ~ user.profilePic) | imagine_filter('profile_pic') }}" alt="{{ user.fullname }}">
	            {% else %}
	            <img class="img-circle" src="{{ asset(avanzu_admin_context.default_avatar) }}" alt="{{ user.fullname }}">	            
	            {% endif %}
	          </div>
	          <!-- /.widget-user-image -->
	          <h3 class="widget-user-username">{{ user.fullname }}</h3>
	          <h5 class="widget-user-desc">{% if user.about %}{{ user.about|striptags|truncate(120) }}{% else %}<br><br><br>{% endif %}</h5>
	        </div>
	        </a>
	        <div class="box-footer no-padding">
	          {% if user.trenerExperience %}
	          <ul class="nav nav-stacked">
	            <li><a href="#">{{ 'Trener experience'|trans }} <span class="pull-right badge bg-blue">{{ user.trenerExperience|e }}</span></a></li>
	          </ul>
	          {% endif %}
	        </div>
	      </div>
	  </div>
	{% if loop.index%3 == 0 and not loop.first %}
	</div>
	{% endif %}
  {% endfor %}
{% else %}
  {% if submited %}
  <h3>{{ 'search.mentor.noresults'|trans }}</h3>
  {% endif %}
{% endif %}
{% endblock %}