{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}

    <div class="row">
        <div class="col-md-6">
            {# ... box widget with defaults ... #}
            {% embed 'AvanzuAdminThemeBundle:Widgets:box-widget.html.twig' %}

                {% import 'AvanzuAdminThemeBundle:Macros:buttons.html.twig'  as btn %}
                {% block box_title %}{{ 'notification.box.title'|trans }}{% endblock %}
                {% block box_body %}
	                {% if notifications is empty %}
                        <div class="text-center"><i class="fa fa-thumbs-o-up"></i><br>
                        <b>{{ 'notification.box.no_notifications.title'|trans }}</b><br>
                        <b>{{ 'notification.box.no_notifications.text'|trans }}</b>
                        </div>
                    {% else %}
	                <table class="table table-condensed">
	                <tbody><tr>
	                  <th style="width: 10px">#</th>
	                  <th>{{ 'notification.box.table.notice'|trans }}</th>
	                  <th style="width: 40px">{{ 'notification.box.table.action'|trans }}</th>
	                </tr>
                    {% for notice in notifications %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ notice.description|trans }}</td>
                        <td>
                        <a href="{{ path(notice.path, {'id': notice.entityId }) }}" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
                      </tr>
                    {% endfor %}
                    </tbody></table>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
        </div>
    </div>
{% endblock %}




