<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2015 <a href="#">MentorMe</a>.</strong> All rights reserved.
</footer>