<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="{{ asset('theme/dist/css/AdminLTE.min.css') }}">
<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
      page. However, you can choose any other skin. Make sure you
      apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="{{ asset("theme/dist/css/skins/" ~ avanzu_admin_context.skin|default('skin-blue-light') ~ ".min.css") }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="apple-touch-icon" sizes="57x57" href="{{ asset("favicon/apple-icon-57x57.png") }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ asset("favicon/apple-icon-60x60.png") }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ asset("favicon/apple-icon-72x72.png") }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ asset("favicon/apple-icon-76x76.png") }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ asset("favicon/apple-icon-114x114.png") }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ asset("favicon/apple-icon-120x120.png") }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ asset("favicon/apple-icon-144x144.png") }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ asset("favicon/apple-icon-152x152.png") }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset("favicon/apple-icon-180x180.png") }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("favicon/android-icon-192x192.png") }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset("favicon/favicon-32x32.png") }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ asset("favicon/favicon-96x96.png") }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon/favicon-16x16.png") }}">
<link rel="manifest" href="{{ asset("favicon/manifest.json") }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ asset("favicon/ms-icon-144x144.png") }}">
<meta name="theme-color" content="#ffffff">