{% block filter_date_range_widget %}
    <div class="filter-date-range">
        {% if form.left_date.vars.block_prefixes[1] != 'hidden' %}
        <div class="col-sm-12  input-group date">
           <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
           {{ form_widget(form.left_date, {'attr': attr}) }}
        </div>
        {% endif %}
        {% if form.right_date.vars.block_prefixes[1] != 'hidden' %}
        <div class="col-sm-12 input-group date">
           <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
           {{ form_widget(form.right_date, {'attr': attr}) }}
        </div>
        {% endif %}
    </div>
{% endblock filter_date_range_widget %}