<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
{#
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
#}
<html lang="{{ app.request.locale }}">
<head>
    <title>
        {% block avanzu_document_title %}
                {% block avanzu_page_title %}MentorMe!{% endblock %}{% endblock %}
    </title>
    {% include('AvanzuAdminThemeBundle:Partials:_head.html.twig') %}
    {% block avanzu_head %}{% endblock %}
</head>
{#
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
#}
<body{% block avanzu_body_start %}{% endblock %} class="{{ avanzu_admin_context.skin|default("")|body_class }}">
{% block avanzu_after_body_start %}{% endblock %}
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{% block avanzu_logo_path %}{{ path('welcome'|route_alias) }}{% endblock %}" class="logo" style="background-color: #fff;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                {% block avanzu_logo_mini %}M<b>Me</b>!{% endblock %}
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
               {% block avanzu_logo_lg %}<img src="{{ asset('img/logo-podstawowe.png') }}" alt="MentorMe!" style="width: 135px; height: 40px;"> {% endblock %}
            </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            {% block avanzu_navbar_toggle %}
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{{ 'Toggle navigation'|trans({}, 'AvanzuAdminTheme')  }}</span>
            </a>
            {% endblock %}
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% block avanzu_navbar_messages %}
                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:messages')) }}
                    {% endblock %}
                    {% block avanzu_navbar_user %}
                        {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ render(controller('AvanzuAdminThemeBundle:Navbar:user')) }}
                        {% endif %}
                    {% endblock %}
                    {% block avanzu_navbar_control_sidebar_toggle %}
                    {% if avanzu_admin_context.control_sidebar %}
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                    {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            {% block avanzu_sidebar_user %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:userPanel')) }}
                {% endif %}
            {% endblock %}

            {% block avanzu_sidebar_nav %}
                {{ render(controller('AvanzuAdminThemeBundle:Sidebar:menu', {'request':app.request})) }}
            {% endblock %}
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">

            {% block avanzu_breadcrumb %}
                {% if avanzu_admin_context.knp_menu.enable %}
                    {% include 'AvanzuAdminThemeBundle:Breadcrumb:knp-breadcrumb.html.twig' %}
                {% else %}
                    {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('avanzu_page_title')})) }}
                {% endif %}
            {% endblock %}
        </section>

        <section class="content">
          {% for label, messages in app.flashes %}
            {% for message in messages %}
              <div class="alert alert-{{ label }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-{% if label == 'success' %}check{% else %}{{ label }}{% endif %}"></i> {% if label == 'success' %}{{ 
                'Success'|trans }}{% else %}{{ 'Alert'|trans }}!{% endif %}</h4> {{ message|trans }}
              </div>
            {% endfor %}
          {% endfor %}
            {% block avanzu_page_content %}{% endblock %}
        </section>
    </div>

    {% block avanzu_footer %}
        {% include 'AvanzuAdminThemeBundle:Partials:_footer.html.twig' %}
    {% endblock %}
    {% block avanzu_control_sidebar %}
        {% if avanzu_admin_context.control_sidebar %}
            {% include 'AvanzuAdminThemeBundle:Partials:_control-sidebar.html.twig' %}
        {% endif %}
    {% endblock %}
</div>

{% include 'AvanzuAdminThemeBundle:Partials:_scripts.html.twig' %}
{% block avanzu_javascripts %}{% endblock %}
{% block avanzu_javascripts_inline %}{% endblock %}

</body>
</html>
