<!DOCTYPE html{% block avanzu_html_start %}{% endblock %}>
<html>
<head>

    <title>{% block avanzu_login_title %}MentorMe! | Log in{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset('theme/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('theme/dist/css/AdminLTE.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('theme/plugins/iCheck/square/blue.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("favicon/apple-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("favicon/apple-icon-60x60.png") }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("favicon/apple-icon-72x72.png") }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("favicon/apple-icon-76x76.png") }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("favicon/apple-icon-114x114.png") }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("favicon/apple-icon-120x120.png") }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("favicon/apple-icon-144x144.png") }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("favicon/apple-icon-152x152.png") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("favicon/apple-icon-180x180.png") }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset("favicon/android-icon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("favicon/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset("favicon/favicon-96x96.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ asset("favicon/manifest.json") }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset("favicon/ms-icon-144x144.png") }}">
    <meta name="theme-color" content="#ffffff">
</head>
<body{% block avanzu_body_start %}{% endblock %} class="hold-transition login-page">
{% block avanzu_after_body_start %}{% endblock %}
{% include 'v2/cookie_notification.html.twig' %}
{% block avanzu_login_box %}
<div class="login-box">
    <div class="login-logo">
        <a href="{{ path('main') }}">{% block avanzu_logo_login %}<img src="{{ asset('img/logo-podstawowe.png') }}" alt="MentorMe!" style="width: 190px; height: 70px;"> {% endblock %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            {% block avanzu_login_box_msg %}
                {{ 'Sign in to start your session'|trans({}, 'AvanzuAdminTheme') }}

            {% if error|default(false) %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% endblock %}
        </p>

        {% block avanzu_login_form %}
        <form action="{{ path('login'|route_alias) }}" method="post">
            <div class="form-group has-feedback">
                <input type="text" name="_username" class="form-control" placeholder="{{ 'Username'|trans({}, 'AvanzuAdminTheme') }}" value="{{ last_username }}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="_password" type="password" class="form-control" placeholder="{{ 'Password'|trans({}, 'AvanzuAdminTheme') }}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> {{ 'Remember Me'|trans({}, 'AvanzuAdminTheme') }}
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Sign In'|trans({}, 'AvanzuAdminTheme') }}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        {% endblock %}
        {% block avanzu_login_social_auth %}
        <div class="social-auth-links text-center">
            <p>{{ '- OR -'|trans({}, 'AvanzuAdminTheme') }}</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>
                {{ 'Sign in using Facebook'|trans({}, 'AvanzuAdminTheme') }}
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>
                {{ 'Sign in usingGoogle+'|trans({}, 'AvanzuAdminTheme') }}
            </a>
        </div>
        <!-- /.social-auth-links -->
        {% endblock %}
        {% block avanzu_login_actions %}
        <a href="#">
            {{ 'I forgot my password'|trans({}, 'AvanzuAdminTheme') }}
        </a>
            <br>
        <a href="register.html" class="text-center">
            {{ 'Register a new membership'|trans({}, 'AvanzuAdminTheme') }}
        </a>
        {% endblock %}
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}

<!-- jQuery 2.2.3 -->
<script src="{{ asset('theme/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('theme/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- iCheck -->
<script src="{{ asset('theme/plugins/iCheck/icheck.min.js') }}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>
