{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block avanzu_page_content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
    {{ form_start(form) }}
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'specialization.add'|trans }}</h3>
      </div>
      <div class="box-body">
          {{ form_widget(form) }}
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <button class="btn btn-info pull-right" type="submit" >{{ 'specialization.submit'|trans }}</button>
        </div>
      </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}