{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_page_content %}
    <div class="row">
      <div class="col-md-12">
    	<div class="box box-primary">
    		<div class="box-header"><h3 class="box-title">{{ 'specialization.profile'|trans }}: <strong>{{ specializationArea.name }}</strong></h3></div>
    		<div class="box-body">
    		     <div class="row">
    		      <div class="col-md-2"><strong>Id</strong></div>
    		      <div class="col-md-10">{{ specializationArea.id }}</div>
    			</div>
    			<hr>
    			<div class="row">
    		      <div class="col-md-2"><strong>{{ 'specialization.name'|trans }}</strong></div>
    		      <div class="col-md-10">{{ specializationArea.name }}</div>
    			</div>
    		</div>
    		<div class="box-footer">
    		   <a href="{{ path('specializationarea_index') }}" class="btn btn-primary">{{ 'companies.index.back'|trans }}</a>
    		   <div class="pull-right">
    		    {{ form_start(delete_form) }}
                   <a href="{{ path('specializationarea_edit', { 'id': specializationArea.id }) }}" class="btn btn-primary">{{ 'specialization.edit'|trans }}</a>
                <button class="btn btn-danger" type="submit" >{{ 'specialization.delete'|trans }}</button>
                {{ form_end(delete_form) }}
               </div>

    		</div>
    	</div>
    </div>
{% endblock %}